<div class="index__billboard container-md">
	<div class="row">
		<form class="col-xs-8 col-xs-offset-2">
			<h1>{{locale "my_store.my_data.title"}}</h1>
			<h3>
				{{locale "my_store.my_data.subtitle.1"}}
			</h3>
			<h2>{{locale "my_store.my_data.form.personal_data.subtitle"}}</h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-2">
              <div class="form-group">
                <label for="field-1">{{locale "my_store.my_data.form.personal_data.salutation"}} <sup>*</sup></label>
                <select class="form-control data-field" id="field-1" name="personal-salutation">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
                <label for="field-1" class="mb-select-arrow"></label>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label for="field-5">{{locale "my_store.my_data.form.personal_data.title"}}</label>
                <select class="form-control" id="field-1" name="personal-title">
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
                <label for="field-1" class="mb-select-arrow"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-1">{{locale "my_store.my_data.form.personal_data.first_name"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-first-name">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-1">{{locale "my_store.my_data.form.personal_data.second_name"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-second-name">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-1">{{locale "my_store.my_data.form.personal_data.company"}}</label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-company">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-5">{{locale "my_store.my_data.form.personal_data.registered"}} <sup>*</sup></label>
                <input type="text" class="form-control" id="field-5" name="personal-registered" placeholder="TT.MM.JJJJ">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-1">{{locale "my_store.my_data.form.personal_data.phone"}}</label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-phone">
              </div>
            </div>
          </div>
        </div>
        <label class="mb-form-sublabel"><sup>*</sup> {{locale "my_store.my_data.form.required"}}</label>
      </div>
      <hr>
      <div class="row">
				<div class="col-xs-12 text-right">
					<button class="btn btn-default mb-save-form-block">{{locale "my_store.my_data.form.save_changes"}}</button>
				</div>
			</div>
      <h2>{{locale "my_store.my_data.form.address.subtitle"}}</h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                <label for="field-1">{{locale "my_store.my_data.form.address.street"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-1" name="delivery-street">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <label for="field-2">{{locale "my_store.my_data.form.address.house"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-2" name="delivery-house">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-3">{{locale "my_store.my_data.form.address.additional"}}</label>
                <input type="text" class="form-control data-field" id="field-3" name="delivery-additional">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-3">
              <div class="form-group">
                <label for="field-4">{{locale "my_store.my_data.form.address.index"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-4" name="delivery-index">
              </div>
            </div>
            <div class="col-xs-9">
              <div class="form-group">
                <label for="field-5">{{locale "my_store.my_data.form.address.city"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-5" name="delivery-city">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-12">
            	<ul class="mb-form-list-switches margin-0">
	              <li>
			            <label>
			              <input type="checkbox">
			              <span class="mb-catalogue-filter-checkbox-wrapper"></span>
			              <span class="mb-catalogue-filter-title">{{locale "my_store.my_data.form.address.differed_shipping"}}</span>
			            </label>
			          </li>
		          </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row hide">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
                <label for="field-1">{{locale "my_store.my_data.form.address.street"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-1" name="delivery-street">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <label for="field-2">{{locale "my_store.my_data.form.address.house"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-2" name="delivery-house">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-3">{{locale "my_store.my_data.form.address.additional"}}</label>
                <input type="text" class="form-control data-field" id="field-3" name="delivery-additional">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row hide">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-3">
              <div class="form-group">
                <label for="field-4">{{locale "my_store.my_data.form.address.index"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-4" name="delivery-index">
              </div>
            </div>
            <div class="col-xs-9">
              <div class="form-group">
                <label for="field-5">{{locale "my_store.my_data.form.address.city"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-5" name="delivery-city">
              </div>
            </div>
          </div>
        </div>
      </div>
			<div class="row">
        <label class="mb-form-sublabel"><sup>*</sup> {{locale "my_store.my_data.form.required"}}</label>
      </div>
      <hr>
      <div class="row">
				<div class="col-xs-12 text-right">
					<button class="btn btn-default mb-save-form-block">{{locale "my_store.my_data.form.save_changes"}}</button>
				</div>
			</div>
      <h2>{{locale "my_store.my_data.form.login.subtitle"}}</h2>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-1">{{locale "my_store.my_data.form.login.email"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-phone">
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-1">{{locale "my_store.my_data.form.login.password"}}</label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-phone">
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-1">{{locale "my_store.my_data.form.login.password_conf"}}</label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-phone">
              </div>
            </div>
          </div>
        </div>
        <label class="mb-form-sublabel"><sup>*</sup> {{locale "my_store.my_data.form.required"}}</label>
      </div>
      <hr>
			<div class="row">
				<div class="col-xs-12 text-right">
					<button class="btn btn-default mb-save-form-block">{{locale "my_store.my_data.form.save_changes"}}</button>
				</div>
			</div>
      <h2>{{locale "my_store.my_data.form.data_protection.subtitle"}}</h2>
      <h3><b>{{locale "my_store.my_data.form.data_protection.text.1"}}</b></h3>
      <h3>
      	{{locale "my_store.my_data.form.data_protection.text.2"}}
      </h3>
      <h3>{{locale "my_store.my_data.form.data_protection.text.3"}}</h3>
      <h3><b>{{locale "my_store.my_data.form.data_protection.text.4"}}</b></h3>
      <h3>
      	{{locale "my_store.my_data.form.data_protection.text.5"}} 
        <a href="">{{locale "my_store.my_data.form.data_protection.text.6"}}</a> 
        {{locale "my_store.my_data.form.data_protection.text.7"}}
      </h3>
			<ul class="mb-form-list-switches align-right">
				<li>
					<span class="mb-catalogue-filter-title">{{locale "my_store.my_data.form.data_protection.type.1"}}</span>
					<label>
            <input type="radio" name="order-summary-options1">
            <span class="mb-catalogue-filter-checkbox-wrapper"></span>
            <span class="mb-catalogue-filter-title">{{locale "my_store.my_data.form.data_protection.answer.yes"}}</span>
          </label>
          <label>
            <input type="radio" name="order-summary-options1">
            <span class="mb-catalogue-filter-checkbox-wrapper"></span>
            <span class="mb-catalogue-filter-title">{{locale "my_store.my_data.form.data_protection.answer.no"}}</span>
          </label>
				</li>
				<li>
					<span class="mb-catalogue-filter-title">{{locale "my_store.my_data.form.data_protection.type.2"}}</span>
					<label>
            <input type="radio" name="order-summary-options2">
            <span class="mb-catalogue-filter-checkbox-wrapper"></span>
            <span class="mb-catalogue-filter-title">{{locale "my_store.my_data.form.data_protection.answer.yes"}}</span>
          </label>
          <label>
            <input type="radio" name="order-summary-options2">
            <span class="mb-catalogue-filter-checkbox-wrapper"></span>
            <span class="mb-catalogue-filter-title">{{locale "my_store.my_data.form.data_protection.answer.no"}}</span>
          </label>
				</li>
				<li>
					<span class="mb-catalogue-filter-title">{{locale "my_store.my_data.form.data_protection.type.3"}}</span>
					<label>
            <input type="radio" name="order-summary-options3">
            <span class="mb-catalogue-filter-checkbox-wrapper"></span>
            <span class="mb-catalogue-filter-title">{{locale "my_store.my_data.form.data_protection.answer.yes"}}</span>
          </label>
          <label>
            <input type="radio" name="order-summary-options3">
            <span class="mb-catalogue-filter-checkbox-wrapper"></span>
            <span class="mb-catalogue-filter-title">{{locale "my_store.my_data.form.data_protection.answer.no"}}</span>
          </label>
				</li>
			</ul>
			<h3>
				{{locale "my_store.my_data.form.data_protection.text.8"}}
			</h3>
			<h3><b>{{locale "my_store.my_data.form.data_protection.text.9"}}</b></h3>
			<h3>
				{{locale "my_store.my_data.form.data_protection.text.10"}}
			</h3>
			<hr>
			<div class="row">
				<div class="col-xs-12 text-right">
					<button class="btn btn-default mb-save-form-block active">{{locale "my_store.my_data.form.save_changes"}}</button>
				</div>
			</div>
		</form>
	</div>
</div>