<div class="index__billboard">
  <div class="mb-campaign mb-model-detail-campaign">
    <img class="mb-campaign-hero" src="{{stageModules.0.data.0.car.imagesStageLeft.xsd.url}}" alt="...">
    <a href="#" class="mb-model-header-back hidden-xs">Angebotsübersicht</a>
    <h1 class="mb-model-header-name">{{stageModules.0.data.0.car.model}} {{stageModules.0.data.0.car.equipmentLine}}</h1>
    <h2 class="mb-model-header-descr-short">
    	{{stageModules.0.data.0.banners.0.value}}
	</h2>
    <h3 class="mb-model-header-descr-additional">
    	{{stageModules.0.data.0.banners.0.label}}
    </h3>
    <button class="mb-model-header-add-to-cart">
    	{{locale "detail.header.button.add_to_cart"}}
    </button>
    <ul class="mb-model-header-advantages-list">
    	<li class="mb-model-header-advantage-large">
    		Kraftstoffverbrauch kombiniert* 5,7 l/100 km
    		<br>
				CO2-Emission<sup>***</sup> 129 g/km
				<br>
				Energieeffizienzklasse<sup>***</sup> B
    	</li>
    	{{#each stageModules.0.data.0.car.offerHighlights}}
    		<li class="mb-model-header-advantage">{{name}}</li>
    	{{/each}}
    	
    </ul>
    <p class="mb-model-header-footnote hidden-xs">
    	Alle Abbildungen nur beispielhaft und zu Illustrationszwecken. Das bestellte Fahrzeug kann von Abbildungen abweichen. <sup>****</sup>
    </p>
  </div>
</div>
<nav class="mb-model-detail-navigation container-fluid">
	<div class="row">
		<div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
			<button class="mb-model-detail-scroll-to-top"></button>
			<div class="mb-model-detail-navigation-sub">
				<p class="mb-model-detail-navigation-sub-title hidden-xs hidden-sm">
					{{stageModules.0.data.0.car.model}} - {{stageModules.0.data.0.car.equipmentLine}} {{stageModules.0.data.0.banners.1.label}}
				</p>
				<div class="dropdown hidden-lg">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    <span class="hidden-xs">{{locale "detail.nav.button.quick_access"}}</span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li><a href="#">{{locale "detail.nav.button.quick_access.item.1"}}</a></li>
				    <li><a href="#">{{locale "detail.nav.button.quick_access.item.2"}}</a></li>
				    <li><a href="#">{{locale "detail.nav.button.quick_access.item.3"}}</a></li>
				    <li><a href="#">{{locale "detail.nav.button.quick_access.item.4"}}</a></li>
				  </ul>
				</div>
				<ul class="mb-model-detail-navigation-sub-list hidden-xs hidden-sm hidden-md">
					<li>{{locale "detail.nav.item.exterior"}}</li>
					<li>{{locale "detail.nav.item.interior"}}</li>
					<li>{{locale "detail.nav.item.equipment"}}</li>
					<li>{{locale "detail.nav.item.engine"}}</li>
					<li>{{locale "detail.nav.item.offer_data"}}</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-7 col-sm-6 col-md-6 col-lg-6 text-right">
			<button class="mb-model-detail-navigation-sub-action mb-model-detail-navigation-sub-action-recall">{{locale "detail.nav.contact.recall"}}</button>
			<button class="mb-model-detail-navigation-sub-action mb-model-detail-navigation-sub-action-chat hidden-xs">{{locale "detail.nav.contact.chat"}}</button>
			<button class="mb-model-detail-navigation-sub-action mb-model-detail-navigation-sub-action-test-drive">{{locale "detail.nav.contact.test_drive"}}</button>
			<button class="mb-model-detail-navigation-sub-order">{{locale "detail.nav.contact.order"}}</button>
		</div>
	</div>
</nav>

<div class="mb-model-detail-exterior-region container-fluid"></div>

<div class="mb-model-detail-interior-region"></div>

<div class="mb-model-detail-features-region"></div>

<div class="mb-model-detail-edition-highlights-region container-fluid"></div>

<div class="mb-model-detail-tech-specs container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="mb-model-detail-tech-specs-title">{{locale "detail.engine.subtitle.1"}}</h2>
			<div class="mb-model-detail-tech-specs-column">
				<h3 class="mb-model-detail-tech-specs-subtitle">
					{{locale "detail.engine.subtitle.2"}}
				</h3>
				<dl class="mb-model-detail-tech-specs-list">
					<dt>Leistung</dt>
					<dd>{{engine.facts.0.value}}</dd>
					<dt>Hubraum</dt>
					<dd>{{engine.facts.3.value}}</dd>
					<dt>Getriebe</dt>
					<dd>{{engine.facts.1.value}}</dd>
					<dt>Kraftstoffart</dt>
					<dd>{{engine.facts.5.value}}</dd>
					<dt>Beschleunigung (0-100 km/h)</dt>
					<dd>{{engine.facts.2.value}} s</dd>
				</dl>
			</div>
			<div class="mb-model-detail-tech-specs-column hidden-sm hidden-md hidden-lg">
				<h3 class="mb-model-detail-tech-specs-eco-subtitle">
					{{locale "detail.engine.subtitle.3"}}
				</h3>
				<ul class="mb-model-detail-tech-specs-eco-list">
					<li class="class-ap">
						<span>A+</span>
					</li>
					<li class="class-a">
						<span>A</span>
					</li>
					<li class="class-b">
						<span>B</span>
					</li>
					<li class="class-c">
						<span>C</span>
					</li>
					<li class="class-d">
						<span>D</span>
					</li>
					<li class="class-e">
						<span>E</span>
					</li>
					<li class="class-f">
						<span>F</span>
					</li>
					<li class="class-g">
						<span>G</span>
					</li>
				</ul>
				<p class="mb-model-detail-tech-specs-eco-class class-{{engine.facts.9.value}}">
					<span>{{engine.facts.9.value}}</span>
				</p>
				<p class="mb-model-detail-tech-specs-eco-descr">
					<b class="hidden-xs">CO2-Effizienz</b>
					<br class="hidden-xs">
					Auf Grundlage der gemessenen CO2-Emissionen unter Berücksichtigung der Masse des Fahrzeugs ermittelt.
				</p>
			</div>
			<div class="mb-model-detail-tech-specs-column">
				<h3 class="mb-model-detail-tech-specs-subtitle">
					Kraftstoffverbrauch &amp; Emissionen
				</h3>
				<dl class="mb-model-detail-tech-specs-list">
					<dt>Kraftstoffverbrauch innerorts *</dt>
					<dd>{{engine.facts.6.value}} l / 100 km</dd>
					<dt>Kraftstoffverbrauch außerorts *</dt>
					<dd>{{engine.facts.7.value}} l / 100 km</dd>
					<dt>Kraftstoffverbrauch kombiniert *</dt>
					<dd>{{engine.facts.8.value}} l / 100 km</dd>
					<dt>CO2-Emissionen kombiniert *</dt>
					<dd>{{engine.facts.4.value}} g / km</dd>
					<dt class="hidden-xs"></dt>
					<dd class="hidden-xs"></dd>
				</dl>
			</div>
			<div class="mb-model-detail-tech-specs-column hidden-xs">
				<ul class="mb-model-detail-tech-specs-eco-list">
					<li class="class-ap">
						<span>A+</span>
					</li>
					<li class="class-a">
						<span>A</span>
					</li>
					<li class="class-b">
						<span>B</span>
					</li>
					<li class="class-c">
						<span>C</span>
					</li>
					<li class="class-d">
						<span>D</span>
					</li>
					<li class="class-e">
						<span>E</span>
					</li>
					<li class="class-f">
						<span>F</span>
					</li>
					<li class="class-g">
						<span>G</span>
					</li>
				</ul>
				<p class="mb-model-detail-tech-specs-eco-class class-{{engine.facts.9.value}}">
					<span>{{engine.facts.9.value}}</span>
				</p>
				<p class="mb-model-detail-tech-specs-eco-descr">
					<b class="hidden-xs">{{locale "detail.engine.eco.text.1"}}</b>
					<br class="hidden-xs">
					{{locale "detail.engine.eco.text.2"}}
				</p>
			</div>
		</div>
	</div>
</div>

<div class="mb-model-detail-offer-region container-fluid"></div>

<div class="mb-contact-banner margin-0">
  <img class="mb-model-detail-testdrive-img hidden-md hidden-lg" src="/images/campaign/campaign-poster-1.jpg" alt="...">
  <img class="mb-model-detail-testdrive-img hidden-xs hidden-sm hidden-lg" src="/images/campaign/campaign-poster-1.jpg" alt="...">
  <img class="mb-model-detail-testdrive-img hidden-xs hidden-sm hidden-md" src="/images/campaign/campaign-poster-4.jpg" alt="...">
  <div class="mb-banner-text-block">
    <div class="mb-banner-text-wrap">
      <div class="mb-banner-text-title">
        Wünschen Sie eine Probefahrt?
      </div>
      <div class="mb-banner-text">
        Lernen Sie Ihr Wunschfahrzeug bei einer Probefahrt kennen und lassen Sie sich begeistern.
        Auf Wunsch bringen wir Ihnen das Fahrzeug auch gerne vorbei.
      </div>
      <button class="btn btn-lg btn-primary btn-14">
        <div class="mb-icon-wrap">
          <i class="mb-icon-calendar"></i>
        </div>
        Termin vereinbaren
      </button>
    </div>
  </div>
</div>
<div class="mb-catalogue-wrapper mb-similar-and-last-viewed container-fluid">
	<div class="mb-catalogue-header row">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    <h2 class="mb-catalogue-total">{{locale "detail.other_models.subtitle.1"}}</h2>
	  </div>
	</div>
	<div class="mb-catalogue-items row">
	  <div>
	    <div class="mb-catalogue-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      <div class="mb-item-img-wrapper mb-default">
	        <img src="/images/cars/c/c200.png" alt=""/>
	      </div>
	      <h3 class="mb-item-title">C 200 T-Modell EXCLUSIVE</h3>
	      <div class="mb-item-content-1">
	        32.349,50 Euro Kaufpreis ab Werk 403,00 Euro mtl. Gesamt-Leasing-Rate*
	        <div class="mb-icon-i"></div>
	      </div>
	      <div class="mb-item-content-2">
	        Kraftstoffverbrauch kombiniert* 5,7l/100km, CO2-Emission*** 129g/km, Energieeffizienzklasse***B
	      </div>
	    </div>
	    <div class="mb-catalogue-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      <div class="mb-item-img-wrapper mb-default">
	        <img src="/images/cars/c/c200.png" alt=""/>
	      </div>
	      <h3 class="mb-item-title">B-Klasse Electric Drive - Sports Tourer</h3>
	      <div class="mb-item-content-1">
	        32.349,50 Euro Kaufpreis ab Werk 403,00 Euro mtl. Gesamt-Leasing-Rate*
	        <div class="mb-icon-i"></div>
	      </div>
	      <div class="mb-item-content-2">
	        Kraftstoffverbrauch kombiniert* 5,7l/100km, CO2-Emission*** 129g/km, Energieeffizienzklasse***B
	      </div>
	    </div>
	    <div class="mb-catalogue-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      <div class="mb-item-flag">Sondermodell StreetStyle</div>
	      <div class="mb-item-img-wrapper mb-default">
	        <img src="/images/cars/c/c200.png" alt=""/>
	      </div>
	      <h3 class="mb-item-title">C 200 T-Modell EXCLUSIVE</h3>
	      <div class="mb-item-content-1">
	        32.349,50 Euro Kaufpreis ab Werk 403,00 Euro mtl. Gesamt-Leasing-Rate*
	        <div class="mb-icon-i"></div>
	      </div>
	      <div class="mb-item-content-2">
	        Kraftstoffverbrauch kombiniert* 5,7l/100km, CO2-Emission*** 129g/km, Energieeffizienzklasse***B
	      </div>
	    </div>
	  </div>
	</div>
	<div class="mb-catalogue-header row">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    <h2 class="mb-catalogue-total">{{locale "detail.other_models.subtitle.2"}}</h2>
	  </div>
	</div>
	<div class="mb-catalogue-items row">
	  <div>
	    <div class="mb-catalogue-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      <div class="mb-item-img-wrapper mb-default">
	        <img src="/images/cars/c/c200.png" alt=""/>
	      </div>
	      <h3 class="mb-item-title">C 200 T-Modell EXCLUSIVE</h3>
	      <div class="mb-item-content-1">
	        32.349,50 Euro Kaufpreis ab Werk 403,00 Euro mtl. Gesamt-Leasing-Rate*
	        <div class="mb-icon-i"></div>
	      </div>
	      <div class="mb-item-content-2">
	        Kraftstoffverbrauch kombiniert* 5,7l/100km, CO2-Emission*** 129g/km, Energieeffizienzklasse***B
	      </div>
	    </div>
	    <div class="mb-catalogue-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      <div class="mb-item-img-wrapper mb-default">
	        <img src="/images/cars/c/c200.png" alt=""/>
	      </div>
	      <h3 class="mb-item-title">B-Klasse Electric Drive - Sports Tourer</h3>
	      <div class="mb-item-content-1">
	        32.349,50 Euro Kaufpreis ab Werk 403,00 Euro mtl. Gesamt-Leasing-Rate*
	        <div class="mb-icon-i"></div>
	      </div>
	      <div class="mb-item-content-2">
	        Kraftstoffverbrauch kombiniert* 5,7l/100km, CO2-Emission*** 129g/km, Energieeffizienzklasse***B
	      </div>
	    </div>
	    <div class="mb-catalogue-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
	      <div class="mb-item-flag">Sondermodell StreetStyle</div>
	      <div class="mb-item-img-wrapper mb-default">
	        <img src="/images/cars/c/c200.png" alt=""/>
	      </div>
	      <h3 class="mb-item-title">C 200 T-Modell EXCLUSIVE</h3>
	      <div class="mb-item-content-1">
	        32.349,50 Euro Kaufpreis ab Werk 403,00 Euro mtl. Gesamt-Leasing-Rate*
	        <div class="mb-icon-i"></div>
	      </div>
	      <div class="mb-item-content-2">
	        Kraftstoffverbrauch kombiniert* 5,7l/100km, CO2-Emission*** 129g/km, Energieeffizienzklasse***B
	      </div>
	    </div>
	  </div>
	</div>
</div>