<img src="{{images.hd}}" alt="{{title}}" />
<div class="slide-content-wrap">
  <div class="slide-content">
    <h1>{{title}}</h1>
    <h4>{{subtitle}}</h4>
    <div class="price btn btn-underline">
      {{price}}
    </div>
    <span class="btn btn-blue"><a href="#">{{locale "stage.btn"}}</a></span>
  </div>
</div>
