<span class="car-class">
  {{car_class}}</span>
<picture>
  <!--[if IE 9]><video style="display: none;"><![endif]-->
  <source srcset="{{images.hd}}" media="(min-width: 960px)" />
  <source srcset="{{images.md}}" media="(min-width: 481px)" />
  <!--[if IE 9]></video><![endif]-->
  <img srcset="{{images.sd}}" alt="{{name}}" />
</picture>
<header>{{name}}</header>
<div class="desc">
  {{text}}
</div>
