<div class="container-md">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 mb-sheckout-final-step">
    	<div class="row">
    		<div class="col-xs-12">
    			<h2>
    				{{locale "checkout.step.4.title"}}
    			</h2>
    			<p>
    				{{locale "checkout.step.4.text.1"}}
    			</p>
    			<h3>
    				{{locale "checkout.step.4.text.2"}}
    			</h3>
    			<p>
    				<b>{{locale "checkout.step.4.text.3"}}</b>
    			</p>
    			<p>
    				{{locale "checkout.step.4.text.4"}}
    			</p>
    			<p>
    				<b>{{locale "checkout.step.4.text.5"}}</b>
    			</p>
    			<p>
	    			{{locale "checkout.step.4.text.6"}}
					</p>
					<ul>
						<li>{{locale "checkout.step.4.text.7"}}</li>
						<li>{{locale "checkout.step.4.text.8"}}</li>
						<li>{{locale "checkout.step.4.text.9"}}</li>
					</ul>
					<p>
						{{locale "checkout.step.4.text.10"}}
					</p>
					<a href="#" class="mb-checkout-print-results">{{locale "checkout.step.4.print_order"}}</a>
    		</div>
    	</div>
		</div>
	</div>	
</div>

<div class="container-md">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 mb-checkout-form-navigation-block">
      <div class="row">
		    <div class="col-xs-12 text-right">
		      <button class="btn btn-default mb-checkout-form-navigation-next js-finish">{{locale "checkout.step.4.next"}}</button>
		    </div>
      </div>
    </div>
  </div>
</div>

<div class="container-md">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="mb-contacts-dark-block">
				<h3>{{locale "checkout.help.have_quiestions"}}</h3>
				<div class="row">
					<div class="col-xs-3">
						<a href="#" class="mb-contacts-dark-block-callback">
							{{locale "checkout.help.callback"}}
						</a>
					</div>
					<div class="col-xs-3">
						<a href="#" class="mb-contacts-dark-block-chat">
							{{locale "checkout.help.chat"}}
						</a>
					</div>
					<div class="col-xs-3">
						<a href="#" class="mb-contacts-dark-block-consult">
							{{locale "checkout.help.support"}}
						</a>
					</div>
					<div class="col-xs-3">
						<a href="#" class="mb-contacts-dark-block-email">
							{{locale "checkout.help.email"}}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>