<div class="mb-checkout-carousel-wrapper">
  <div id="mb-checkout-carousel-step-three" class="mb-carousel carousel slide" data-interval="false">

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="{{stageModules.0.data.0.car.images360ExtDayClosed.31.md.url}}"/>
      </div>
      <div class="item">
        <img src="{{stageModules.0.data.0.car.images360IntDayClosed.0.md.url}}"/>
      </div>
    </div>

    <a class="left carousel-control" href="#mb-checkout-carousel-step-three" role="button" data-slide="prev">
      <span class=""></span>
    </a>
    <a class="right carousel-control" href="#mb-checkout-carousel-step-three" role="button" data-slide="next">
      <span class=""></span>
    </a>
    <div class="mb-carousel-progress progress">
      <div class="progress-bar" role="progressbar">
      </div>
    </div>

  </div>
</div>
<div class="container-md">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2 mb-checkout-buyer-summary">
			<div class="row">
				<div class="col-xs-12">
					<h2>Ihre Daten und Wünsche.</h2>
				</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">Name</div>
				<div class="col-xs-8">{{personalData.personal-first-name}} {{personalData.personal-second-name}}</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">Geburtsdatum</div>
				<div class="col-xs-8">23.05.1984</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">Anschrift</div>
				<div class="col-xs-8">{{personalData.delivery-street}} {{personalData.delivery-house}}, {{personalData.delivery-index}} {{personalData.delivery-city}}</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">E-Mail</div>
				<div class="col-xs-8">{{personalData.personal-email}}</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">Telefon</div>
				<div class="col-xs-8">{{personalData.personal-phone}}</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">Lieferadresse</div>
				<div class="col-xs-8">{{personalData.personal-street}} {{personalData.personal-house}}, {{personalData.personal-index}} {{personalData.personal-city}}</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">Lieferdatum</div>
				<div class="col-xs-8">voraussichtlich 15.08.2015, 09:00 - 12:00 Uhr</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">Wunschkennzeichen</div>
				<div class="col-xs-8">{{personalData.license-plates}}</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">Inzahlungnahme</div>
				<div class="col-xs-8">keine Inzahlungnahme</div>
			</div>
		</div>
	</div>
</div>
<div class="container-md">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="mb-checkout-cancellation-block">
				<div class="mb-checkout-cancellation-description">
					<h2>Widerrufsbelehrung.</h2>
					<p><b>Widerrufsrecht</b></p>
					<p>
						Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.
					</p>
					<p>
						Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die Waren in Besitz genommen haben bzw. hat.
					</p>
					<p>
						Um Ihr Widerrufsrecht auszuüben, müssen Sie uns (Daimler AG, Mercedes-Benz Niederlassung Hamburg, Friedrich-Ebert-Damm 115, 22047 Hamburg, Telefon 040 / 6941 4444, Telefax 040/6941-2099, E-Mail support@mercedes-benz.com) mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief, Telefax oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist.
					</p>
					<p>
						Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.
					</p>
					<p><b>Folgen des Widerrufs</b></p>
					<p>
						Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich 
						der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet. Wir können die Rückzahlung verweigern, bis wir die Waren wieder zurückerhalten haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren zurückgesandt haben, je nachdem, welches der frühere Zeitpunkt ist.
					</p>
					<p>
						Sie haben die Waren unverzüglich und in jedem Fall spätestens binnen vierzehn Tagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrages unterrichten, an uns zurückzusenden oder zu übergeben. Die Frist ist gewahrt, wenn Sie die Waren vor Ablauf der Frist von vierzehn Tagen absenden. Wir tragen die Kosten der Rücksendung der Waren. Sie müssen für einen etwaigen Wertverlust der Waren nur aufkommen, wenn dieser Wertverlust auf einen zur Prüfung der Beschaffenheit, Eigenschaften und Funktionsweise der Waren nicht notwendigen Umgang mit ihnen zurückzuführen ist.
					</p>
				</div>
				<p>
					Das Widerrufsrecht gilt nur für Verbraucher. Verbraucher ist jede natürliche Person, die ein Rechtsgeschäft zu Zwecken abschließt, die überwiegend weder ihrer gewerblichen noch ihrer selbstständigen beruflichen Tätigkeit zugerechnet werden können.  
				</p>
				<p>
					Das in der vorstehenden Widerrufsbelehrung erwähnte Muster-Widerrufsformular finden Sie unter „<a href="">Store-Info/Widerruf</a>“.
				</p>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="mb-checkout-register-info">
				<h3>Hinweis</h3>
				<p>
					Für die Bestellung ist es notwendig, dass Sie Ihre Registrierung im Mercedes-Benz Online Store abschließen. Ist Ihre 
					Registrierung noch nicht vollständig abgeschlossen, folgen Sie dafür bitten dem Link, den wir Ihnen per E-Mail geschickt haben.
				</p>
				<p>Vielen Dank.</p>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid mb-checkout-form-navigation-block">
  <div class="row">
    <div class="col-xs-6 text-left">
      <button class="mb-checkout-form-navigation-back js-prev">Back</button>
    </div>
    <div class="col-xs-6 text-right">
      <button class="mb-checkout-form-navigation-next js-next">Next</button>
    </div>
  </div>
</div>