<div class="mb-checkout-form-wrapper container-md">
  <div class="row">
    <form class="col-xs-12 col-md-8 col-md-offset-2">
      <h2>{{locale "checkout.step.2.title"}}</h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group btn-group-lg" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input type="radio" name="delivery-type" id="option-1" value="delivery-address" autocomplete="off" checked> Wunschadresse
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="delivery-type" id="option-2" value="delivery-dealer" autocomplete="off"> Mercedes-Benz Partner
            </label>
          </div>
        </div>
      </div>
      <div class="delivery-type delivery-address">
        <h3>{{locale "checkout.step.2.form.delivery.subtitle"}}</h3>
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label for="field-1">{{locale "checkout.step.2.form.delivery.street"}} <sup>*</sup></label>
                  <input type="text" class="form-control data-field" id="field-1" name="delivery-street">
                </div>
              </div>
              <div class="col-xs-2">
                <div class="form-group">
                  <label for="field-2">{{locale "checkout.step.2.form.delivery.house"}} <sup>*</sup></label>
                  <input type="text" class="form-control data-field" id="field-2" name="delivery-house">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="field-3">{{locale "checkout.step.2.form.delivery.additional"}}</label>
                  <input type="text" class="form-control data-field" id="field-3" name="delivery-additional">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="row">
              <div class="col-xs-3">
                <div class="form-group">
                  <label for="field-4">{{locale "checkout.step.2.form.delivery.index"}} <sup>*</sup></label>
                  <input type="text" class="form-control data-field" id="field-4" name="delivery-index">
                </div>
              </div>
              <div class="col-xs-9">
                <div class="form-group">
                  <label for="field-5">{{locale "checkout.step.2.form.delivery.city"}} <sup>*</sup></label>
                  <input type="text" class="form-control data-field" id="field-5" name="delivery-city">
                </div>
              </div>
            </div>
          </div>
          <label class="mb-form-sublabel"><sup>*</sup> {{locale "checkout.step.2.form.required"}}</label>
        </div>
      </div>
      <div class="delivery-type delivery-dealer hide">
        <h3>{{locale "checkout.step.2.form.dealer.subtitle"}}</h3>
        <div class="row">
          <div class="col-xs-12">
            <ul class="mb-form-list-switches">
              <li>
                <label>
                  <input type="radio" name="order-summary-options">
                  <span class="mb-catalogue-filter-checkbox-wrapper"></span>
                  <span class="mb-catalogue-filter-title">
                    Der erste Händler.
                  </span>
                </label>
              </li>
              <li>
                <label>
                  <input type="radio" name="order-summary-options">
                  <span class="mb-catalogue-filter-checkbox-wrapper"></span>
                  <span class="mb-catalogue-filter-title">
                    Die zweite Händler.
                  </span>
                </label>
              </li>
              <li>
                <label>
                  <input type="radio" name="order-summary-options">
                  <span class="mb-catalogue-filter-checkbox-wrapper"></span>
                  <span class="mb-catalogue-filter-title">
                    Ein dritter Händler.
                  </span>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <h2>{{locale "checkout.step.2.form.delivery.date.subtitle"}}</h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <div class='input-group mb-date-wrapper' id='field-date-wrapper'>
                  <label for="field-1">{[locale "checkout.step.2.form.delivery.date.date"]}</label>
                  <div id="field-date" name="delivery-date"></div>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="form-group">
                <label for="field-5">{{locale "checkout.step.2.form.delivery.date.time"}}</label>
                <select class="form-control data-field" id="field-1" name="delivery-time">
                  <option value="9">9 : 00 Uhr</option>
                  <option value="10">10 : 00 Uhr</option>
                  <option value="11">11 : 00 Uhr</option>
                </select>
                <label for="field-1" class="mb-select-arrow"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2>{{locale "checkout.step.2.form.personal_data.subtitle"}}</h2>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-2">
              <div class="form-group">
                <label for="field-1">{{locale "checkout.step.2.form.personal_data.salutation"}} <sup>*</sup></label>
                <select class="form-control data-field" id="field-1" name="personal-salutation">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
                <label for="field-1" class="mb-select-arrow"></label>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <label for="field-5">{{locale "checkout.step.2.form.personal_data.title"}}</label>
                <select class="form-control data-field" id="field-1" name="personal-title">
                  <option value="a">a</option>
                  <option value="b">b</option>
                  <option value="c">c</option>
                </select>
                <label for="field-1" class="mb-select-arrow"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-1">{{locale "checkout.step.2.form.personal_data.first_name"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-first-name">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-1">{{locale "checkout.step.2.form.personal_data.second_name"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-second-name">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-1">{{locale "checkout.step.2.form.personal_data.company"}}</label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-company">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-9">
              <div class="form-group">
                <label for="field-1">{{locale "checkout.step.2.form.delivery.street"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-1" name="personal-street">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="form-group">
                <label for="field-2">{{locale "checkout.step.2.form.delivery.house"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-2" name="personal-house">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-1">{{locale "checkout.step.2.form.delivery.additional"}}</label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-additional">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-3">
              <div class="form-group">
                <label for="field-4">{{locale "checkout.step.2.form.delivery.index"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-4" name="personal-index">
              </div>
            </div>
            <div class="col-xs-9">
              <div class="form-group">
                <label for="field-5">{{locale "checkout.step.2.form.delivery.city"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-city">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-1">{{locale "checkout.step.2.form.personal_data.email"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-email">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-1">{{locale "checkout.step.2.form.personal_data.phone"}}</label>
                <input type="text" class="form-control data-field" id="field-5" name="personal-phone">
              </div>
            </div>
          </div>
        </div>
        <label class="mb-form-sublabel"><sup>*</sup> {{locale "checkout.step.2.form.required"}}</label>
      </div>
      <h2>{{locale "checkout.step.2.form.special_wishes.title"}}</h2>
      <h3><b>{{locale "checkout.step.2.form.special_wishes.subtitle.1"}}</b></h3>
      <h3>
        {{locale "checkout.step.2.form.special_wishes.subtitle.2"}}
      </h3>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-10">
              <div class="form-group">
                <label for="field-1">{{locale "checkout.step.2.form.special_wishes.license_plate"}}</label>
                <input type="text" class="form-control data-field" id="field-5" name="license-plates">
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3><b>{{locale "checkout.step.2.form.special_wishes.subtitle.3"}}</b></h3>
      <h3>
        {{locale "checkout.step.2.form.special_wishes.subtitle.4"}}
      </h3>
      <div class="row">
        <div class="col-xs-4">
          <div class="btn-group btn-group-sm" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input type="radio" name="trade-in" id="option-1" autocomplete="off" checked> {{locale "checkout.step.2.form.special_wishes.yes"}}
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="trade-in" id="option-2" autocomplete="off"> {{locale "checkout.step.2.form.special_wishes.no"}}
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="field-1">{{locale "checkout.step.2.form.trade_in.model"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-5" name="trade-in-model">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-4">{{locale "checkout.step.2.form.trade_in.registered"}} <sup>*</sup></label>
                <input type="text" class="form-control data-field" id="field-4" name="trade-in-date">
                <span class="form-error-message"></span>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label for="field-5">{{locale "checkout.step.2.form.trade_in.milege"}} <sup>*</sup></label>
                <div class="input-group">
                  <input type="text" class="form-control data-field" id="field-5" name="trade-in-km">
                  <span class="input-group-addon" id="basic-addon2">km</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container-md">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 mb-checkout-form-navigation-block">
      <div class="row">
        <div class="col-xs-6 text-left">
          <button class="btn btn-default mb-checkout-form-navigation-back js-prev">{{locale "checkout.step.2.prev"}}</button>
        </div>
        <div class="col-xs-6 text-right">
          <button class="btn btn-primary mb-checkout-form-navigation-next js-next">{{locale "checkout.step.2.next"}}</button>
        </div>
      </div>
      <div class="row text-right">
        <label class="mb-form-sublabel">{{locale "checkout.step.2.check_order_again"}}</label>
      </div>
    </div>
  </div>
</div>