<div class="container-md mb-checkout-header">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">			
			<h1>{{locale "checkout.step.3.title"}}</h1>
		</div>
	</div>
</div>
<div class="mb-checkout-carousel-wrapper">
  <div id="mb-checkout-carousel-step-three" class="mb-carousel carousel slide mb-carousel-light" data-interval="false">

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="{{stageModules.0.data.0.car.images360ExtDayClosed.31.md.url}}"/>
      </div>
      <div class="item">
        <img src="{{stageModules.0.data.0.car.images360IntDayClosed.0.md.url}}"/>
      </div>
    </div>

    <a class="left carousel-control" href="#mb-checkout-carousel-step-three" role="button" data-slide="prev">
      <span class=""></span>
    </a>
    <a class="right carousel-control" href="#mb-checkout-carousel-step-three" role="button" data-slide="next">
      <span class=""></span>
    </a>
    <div class="mb-carousel-progress progress">
      <div class="progress-bar" role="progressbar">
      </div>
    </div>

  </div>
</div>
<div class="mb-model-detail-tech-specs container-md">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">	
			<div class="row">
				<h2 class="mb-model-detail-tech-specs-title">{{locale "checkout.step.1.your_car"}} - A 180 AMG Line.</h2>
				<div class="col-xs-8 mb-model-detail-tech-specs-column width-66">
					<ul class="mb-model-detail-tech-specs-options">
						<li>AMG Line</li>
						<li>Bi-Xenon Scheinwerfer</li>
						<li>Becker-Map-Pilot</li>
						<li>Aktiver Parkassistent</li>
						<li>Sitzheizung Vordersitze</li>
						<li>Spiegel Paket</li>
					</ul>
					<a class="mb-model-detail-edition-highlights-equipment-link">
						Alle Ausstattungen anzeigen
					</a>
					<p class="mb-model-detail-tech-specs-eco-descr">
						Kraftstoffverbrauch kombiniert<sup>**</sup> 5,7 l/100 km, CO2-Emission<sup>**</sup> 129 g/km, Energieeffizienzklasse<sup>***</sup> B
						<br><br>
						Alle Abbildungen nur beispielhaft und zu Illustrationszwecken. 
						Das bestellte Fahrzeug kann von den Abbildungen abweichen.<sup>****</sup>
					</p>
				</div>
				<div class="col-xs-4 mb-model-detail-tech-specs-column width-33">
					<ul class="mb-model-detail-tech-specs-eco-list">
						<li class="class-ap">
							<span>A+</span>
						</li>
						<li class="class-a">
							<span>A</span>
						</li>
						<li class="class-b">
							<span>B</span>
						</li>
						<li class="class-c">
							<span>C</span>
						</li>
						<li class="class-d">
							<span>D</span>
						</li>
						<li class="class-e">
							<span>E</span>
						</li>
						<li class="class-f">
							<span>F</span>
						</li>
						<li class="class-g">
							<span>G</span>
						</li>
					</ul>
					<p class="mb-model-detail-tech-specs-eco-class class-{{engine.facts.9.value}}">
						<span>{{engine.facts.9.value}}</span>
					</p>
					<p class="mb-model-detail-tech-specs-eco-descr">
						<b class="hidden-xs">CO2-Effizienz</b>
						<br class="hidden-xs">
						Auf Grundlage der gemessenen CO2-Emissionen unter Berücksichtigung der Masse des Fahrzeugs ermittelt.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mb-model-detail-offer-region container-md">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
		  <h2>{{locale "checkout.step.1.your_offer"}}</h2>
		  <ul class="mb-offer-detail-list">
		    <li class="row">
		      <span class="col-xs-6">Nettokaufpreis Fahrzeug</span>
		      <p class="col-xs-6 text-right">37.105,00 Euro</p>
		    </li>
		    <li class="row">
		      <span class="col-xs-6">Zuzüglich derzeit 19% Umsatzsteuer</span>
		      <p class="col-xs-6 text-right">7.049,95 Euro</p>
		    </li>
		    <li class="row">
		      <span class="col-xs-6">Bruttokaufpreis Fahrzeug</span>
		      <p class="col-xs-6 text-right">44.154,95 Euro</p>
		    </li>
		    <li class="row">
		      <span class="col-xs-6">
		        Zuzüglich Überführung (797,30 Euro) und 
		        Zulassung (160,00 Euro)
		      </span>
		      <p class="col-xs-6 text-right">122 g/km</p>
		    </li>
		    <li class="row important">
		      <span class="col-xs-6">Gesamtpreis</span>
		      <p class="col-xs-6 text-right">44.154,95 Euro</p>
		    </li>
		  </ul>
		  <h3>{{locale "checkout.step.1.leasing_package"}}</h3>
		  <ul class="mb-offer-detail-list">
		    <li class="row">
		      <span class="col-xs-6">Laufzeit</span>
		      <p class="col-xs-6 text-right">36 Monate</p>
		    </li>
		    <li class="row">
		      <span class="col-xs-6">Gesamtlaufleistung</span>
		      <p class="col-xs-6 text-right">30.000,00 km</p>
		    </li>
		    <li class="row">
		      <span class="col-xs-6">Leasing Sonderzahlung (0% des Bruttokaufpreises ab Werk) <i class="mb-icon-i"></i></span>
		      <p class="col-xs-6 text-right">0,00 Euro</p>
		    </li>
		    <li class="row">
		      <span class="col-xs-6">Gesamtkreditbetrag (Nettodarlehensbetrag)</span>
		      <p class="col-xs-6 text-right">31.731,00 Euro</p>
		    </li>
		    <li class="row">
		      <span class="col-xs-6">Gesamtbetrag<sup>1</sup></span>
		      <p class="col-xs-6 text-right">20.616,22 Euro</p>
		    </li>
		    <li class="row">
		      <span class="col-xs-6">Monatliche Leasingrate für Gebrauchsüberlassung</span>
		      <p class="col-xs-6 text-right">280,00 Euro</p>
		    </li>
		    <li class="row">
		      <span class="col-xs-6">Monatliche Rate für Überführung und Zulassung <i class="mb-icon-i"></i></span>
		      <p class="col-xs-6 text-right">10,00 Euro</p>
		    </li>
		    <li class="row">
		      <span class="col-xs-6">Monatliche Rate für Kfz-Versicherung (Haftpflicht und Vollkasko) inklusive Versicherungssteuer <i class="mb-icon-i"></i></span>
		      <p class="col-xs-6 text-right">10,00 Euro</p>
		    </li>
		    <li class="row">
		      <span class="col-xs-6">Monatliche Rate für Wartung und Verschleißreparaturen <i class="mb-icon-i"></i></span>
		      <p class="col-xs-6 text-right">69,00 Euro <i class="mb-icon-i"></i></p>
		    </li>
		    <li class="row">
		      <span class="col-xs-6">Sollzinssatz % p.a. gebunden <i class="mb-icon-i"></i></span>
		      <p class="col-xs-6 text-right">-5,38 %</p>
		    </li>
		    <li class="row">
		      <span class="col-xs-6">Effektiver Jahreszins</span>
		      <p class="col-xs-6 text-right">-4,63 %</p>
		    </li>
		    <li class="row">
		      <span class="col-xs-6">Monatliche Gesamt-Leasing-Rate<sup>*</sup> <i class="mb-icon-i"></i></span>
		      <p class="col-xs-6 text-right">450,00 Euro</p>
		    </li>
		  </ul>
		</div>
	</div>
</div>
<div class="container-md">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2 mb-checkout-buyer-summary">
			<div class="row">
				<div class="col-xs-12">
					<h2>{{locale "checkout.step.3.data_desires.title"}}</h2>
				</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-sm-4">{{locale "checkout.step.3.data_desires.name"}}</div>
				<div class="col-sm-8">{{personalData.personal-first-name}} {{personalData.personal-second-name}}</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-sm-4">{{locale "checkout.step.3.data_desires.birth"}}</div>
				<div class="col-sm-8">23.05.1984</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-sm-4">{{locale "checkout.step.3.data_desires.personal_address"}}</div>
				<div class="col-sm-8">{{personalData.delivery-street}} {{personalData.delivery-house}}, {{personalData.delivery-index}} {{personalData.delivery-city}}</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-sm-4">{{locale "checkout.step.3.data_desires.email"}}</div>
				<div class="col-sm-8">{{personalData.personal-email}}</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-sm-4">{{locale "checkout.step.3.data_desires.phone"}}</div>
				<div class="col-sm-8">{{personalData.personal-phone}}</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-sm-4">{{locale "checkout.step.3.data_desires.delivery_address"}}</div>
				<div class="col-sm-8">{{personalData.personal-street}} {{personalData.personal-house}}, {{personalData.personal-index}} {{personalData.personal-city}}</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-sm-4">{{locale "checkout.step.3.data_desires.delivery_date"}}</div>
				<div class="col-sm-8">voraussichtlich 15.08.2015, 09:00 - 12:00 Uhr</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-sm-4">{{locale "checkout.step.3.data_desires.license_plates"}}</div>
				<div class="col-sm-8">{{personalData.license-plates}}</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-sm-4">{{locale "checkout.step.3.data_desires.trade_in"}}</div>
				<div class="col-sm-8">keine Inzahlungnahme</div>
			</div>
		</div>
	</div>
</div>
<div class="container-md">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2 mb-checkout-order-summary">
			<h2>{{locale "checkout.step.3.your_order.title"}}</h2>
			<p>
				{{locale "checkout.step.3.your_order.text.1"}}
				<br>
				{{locale "checkout.step.3.your_order.text.2"}}
				<br>
				{{locale "checkout.step.3.your_order.text.3"}}
			</p>
			<form>
				<ul class="mb-form-list-switches">
					<li>
						<label>
	            <input type="checkbox" name="order-summary-options">
	            <span class="mb-catalogue-filter-checkbox-wrapper"></span>
	            <span class="mb-catalogue-filter-title">
	            	{{locale "checkout.step.3.accept.text.1.1"}}
	            	<a href="#">{{locale "checkout.step.3.accept.text.1.2"}}</a>
	            	{{locale "checkout.step.3.accept.text.1.3"}}
	            	<br class="visible-sm">
	            </span>
	          </label>
					</li>
					<li>
						<label>
	            <input type="checkbox" name="order-summary-options">
	            <span class="mb-catalogue-filter-checkbox-wrapper"></span>
	            <span class="mb-catalogue-filter-title">
	            	{{locale "checkout.step.3.accept.text.2.1"}}
								<br class="visible-sm">
	            	{{locale "checkout.step.3.accept.text.2.2"}}
	            </span>
	          </label>
					</li>
					<li>
						<label>
	            <input type="checkbox" name="order-summary-options">
	            <span class="mb-catalogue-filter-checkbox-wrapper"></span>
	            <span class="mb-catalogue-filter-title">
	            	{{locale "checkout.step.3.accept.text.3.1"}}
								<br class="visible-sm">
	            	{{locale "checkout.step.3.accept.text.3.2"}}
	            </span>
	          </label>
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>
<div class="container-md">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="mb-checkout-cancellation-block">
				<div class="mb-checkout-cancellation-description">
					<h2>{{locale "checkout.step.3.cancellation.title"}}</h2>
					<p><b>{{locale "checkout.step.3.cancellation.text.1"}}</b></p>
					<p>
						{{locale "checkout.step.3.cancellation.text.2"}}
					</p>
					<p>
						{{locale "checkout.step.3.cancellation.text.3"}}
					</p>
					<p>
						{{locale "checkout.step.3.cancellation.text.4"}}
					</p>
					<p>
						{{locale "checkout.step.3.cancellation.text.5"}}
					</p>
					<p><b>{{locale "checkout.step.3.cancellation.text.6"}}</b></p>
					<p>
						{{locale "checkout.step.3.cancellation.text.7"}}
					</p>
					<p>
						{{locale "checkout.step.3.cancellation.text.8"}}
					</p>
				</div>
				<p>
					{{locale "checkout.step.3.cancellation.text.9"}}
				</p>
				<p>1
					{{locale "checkout.step.3.cancellation.text.10"}} „<a href="">{{locale "checkout.step.3.cancellation.text.11"}}</a>“.
				</p>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="mb-checkout-register-info">
				<h3>{{locale "checkout.step.3.note.title"}}</h3>
				<p>
					{{locale "checkout.step.3.note.text.1"}}
				</p>
				<p>{{locale "checkout.step.3.note.text.2"}}</p>
			</div>
		</div>
	</div>
</div>
<div class="container-md">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2 mb-checkout-form-navigation-block">
			<div class="row">
		    <div class="col-xs-12 col-sm-6 mb-checkout-form-btn-left">
		      <button class="btn btn-default mb-checkout-form-navigation-back js-prev">Meine Daten und Wünsche</button>
		    </div>
		    <div class="col-xs-12 col-sm-6 mb-checkout-form-btn-right mb-noborder">
		      <button class="btn btn-primary mb-checkout-form-navigation-next js-next">Zahlungspflichtig bestellen</button>
		    </div>
  		</div>
  	</div>
  </div>
</div>