<div class="mb-checkout-step-one-region"></div>
<div class="mb-checkout-step-two-region"></div>
<div class="mb-checkout-step-three-region"></div>
<div class="mb-checkout-step-four-region"></div>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h1></h1>
		</div>
	</div>
</div>
<div class="mb-checkout-carousel-wrapper">
  <div id="mb-checkout-carousel" class="mb-carousel carousel slide">

    <div class="carousel-inner" role="listbox"></div>

    <a class="left carousel-control" href="#mb-checkout-carousel" role="button" data-slide="prev">
      <span class=""></span>
    </a>
    <a class="right carousel-control" href="#mb-checkout-carousel" role="button" data-slide="next">
      <span class=""></span>
    </a>
    <div class="mb-carousel-progress progress">
		  <div class="progress-bar" role="progressbar">
		  </div>
		</div>

  </div>
</div>
<div class="mb-model-detail-tech-specs container-md">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="mb-model-detail-tech-specs-title">Motorisierung &amp; Technische Daten.</h2>
			<div class="mb-model-detail-tech-specs-column">
				<h3 class="mb-model-detail-tech-specs-subtitle">
					Motor- &amp; Leistungsdaten
				</h3>
				<dl class="mb-model-detail-tech-specs-list">
					<dt>Leistung</dt>
					<dd>{{engine.facts.0.value}}</dd>
					<dt>Hubraum</dt>
					<dd>{{engine.facts.3.value}}</dd>
					<dt>Getriebe</dt>
					<dd>{{engine.facts.1.value}}</dd>
					<dt>Kraftstoffart</dt>
					<dd>{{engine.facts.5.value}}</dd>
					<dt>Beschleunigung (0-100 km/h)</dt>
					<dd>{{engine.facts.2.value}} s</dd>
				</dl>
			</div>
			<div class="mb-model-detail-tech-specs-column hidden-sm hidden-md hidden-lg">
				<h3 class="mb-model-detail-tech-specs-eco-subtitle">
					CO2-Effizienz
				</h3>
				<ul class="mb-model-detail-tech-specs-eco-list">
					<li class="class-ap">
						<span>A+</span>
					</li>
					<li class="class-a">
						<span>A</span>
					</li>
					<li class="class-b">
						<span>B</span>
					</li>
					<li class="class-c">
						<span>C</span>
					</li>
					<li class="class-d">
						<span>D</span>
					</li>
					<li class="class-e">
						<span>E</span>
					</li>
					<li class="class-f">
						<span>F</span>
					</li>
					<li class="class-g">
						<span>G</span>
					</li>
				</ul>
				<p class="mb-model-detail-tech-specs-eco-class class-{{engine.facts.9.value}}">
					<span>{{engine.facts.9.value}}</span>
				</p>
				<p class="mb-model-detail-tech-specs-eco-descr">
					<b class="hidden-xs">CO2-Effizienz</b>
					<br class="hidden-xs">
					Auf Grundlage der gemessenen CO2-Emissionen unter Berücksichtigung der Masse des Fahrzeugs ermittelt.
				</p>
			</div>
			<div class="mb-model-detail-tech-specs-column">
				<h3 class="mb-model-detail-tech-specs-subtitle">
					Kraftstoffverbrauch &amp; Emissionen
				</h3>
				<dl class="mb-model-detail-tech-specs-list">
					<dt>Kraftstoffverbrauch innerorts *</dt>
					<dd>{{engine.facts.6.value}} l / 100 km</dd>
					<dt>Kraftstoffverbrauch außerorts *</dt>
					<dd>{{engine.facts.7.value}} l / 100 km</dd>
					<dt>Kraftstoffverbrauch kombiniert *</dt>
					<dd>{{engine.facts.8.value}} l / 100 km</dd>
					<dt>CO2-Emissionen kombiniert *</dt>
					<dd>{{engine.facts.4.value}} g / km</dd>
					<dt class="hidden-xs"></dt>
					<dd class="hidden-xs"></dd>
				</dl>
			</div>
			<div class="mb-model-detail-tech-specs-column hidden-xs">
				<ul class="mb-model-detail-tech-specs-eco-list">
					<li class="class-ap">
						<span>A+</span>
					</li>
					<li class="class-a">
						<span>A</span>
					</li>
					<li class="class-b">
						<span>B</span>
					</li>
					<li class="class-c">
						<span>C</span>
					</li>
					<li class="class-d">
						<span>D</span>
					</li>
					<li class="class-e">
						<span>E</span>
					</li>
					<li class="class-f">
						<span>F</span>
					</li>
					<li class="class-g">
						<span>G</span>
					</li>
				</ul>
				<p class="mb-model-detail-tech-specs-eco-class class-{{engine.facts.9.value}}">
					<span>{{engine.facts.9.value}}</span>
				</p>
				<p class="mb-model-detail-tech-specs-eco-descr">
					<b class="hidden-xs">CO2-Effizienz</b>
					<br class="hidden-xs">
					Auf Grundlage der gemessenen CO2-Emissionen unter Berücksichtigung der Masse des Fahrzeugs ermittelt.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="mb-model-detail-offer-region container-md">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
		  <h2>Angebotsdaten.</h2>
		  <h3>A 180 Sondermodell StreetStyle</h3>
		  <ul class="mb-offer-detail-list">
		    <li>
		      <span>Nettokaufpreis Fahrzeug</span>
		      <p>37.105,00 Euro</p>
		    </li>
		    <li>
		      <span>Zuzüglich derzeit 19% Umsatzsteuer</span>
		      <p>7.049,95 Euro</p>
		    </li>
		    <li>
		      <span>Bruttokaufpreis Fahrzeug</span>
		      <p>44.154,95 Euro</p>
		    </li>
		    <li>
		      <span>
		        Zuzüglich Überführung (797,30 Euro) und 
		        Zulassung (160,00 Euro)
		      </span>
		      <p>122 g/km</p>
		    </li>
		    <li class="important">
		      <span>Gesamtpreis</span>
		      <p>44.154,95 Euro</p>
		    </li>
		  </ul>
		  <h3>Leasing-Komplett-Paket (Ein Angebot der Mercedes-Benz Leasing GmbH, Siemensstraße 7, 70469 Stuttgart)</h3>
		  <ul class="mb-offer-detail-list">
		    <li>
		      <span>Laufzeit</span>
		      <p>36 Monate</p>
		    </li>
		    <li>
		      <span>Gesamtlaufleistung</span>
		      <p>30.000,00 km</p>
		    </li>
		    <li>
		      <span>Leasing Sonderzahlung (0% des Bruttokaufpreises ab Werk)</span>
		      <p>0,00 Euro</p>
		      <div class="mb-icon-i"></div>
		    </li>
		    <li>
		      <span>Gesamtkreditbetrag (Nettodarlehensbetrag)</span>
		      <p>31.731,00 Euro</p>
		    </li>
		    <li>
		      <span>Gesamtbetrag<sup>1</sup></span>
		      <p>20.616,22 Euro</p>
		    </li>
		    <li>
		      <span>Monatliche Leasingrate für Gebrauchsüberlassung</span>
		      <p>280,00 Euro</p>
		    </li>
		    <li>
		      <span>Monatliche Rate für Überführung und Zulassung</span>
		      <p>10,00 Euro</p>
		      <div class="mb-icon-i"></div>
		    </li>
		    <li>
		      <span>Monatliche Rate für Kfz-Versicherung (Haftpflicht und Vollkasko) inklusive Versicherungssteuer</span>
		      <p>10,00 Euro</p>
		      <div class="mb-icon-i"></div>
		    </li>
		    <li>
		      <span>Monatliche Rate für Wartung und Verschleißreparaturen</span>
		      <p>69,00 Euro</p>
		      <div class="mb-icon-i"></div>
		    </li>
		    <li>
		      <span>Sollzinssatz % p.a. gebunden</span>
		      <p>-5,38 %</p>
		      <div class="mb-icon-i"></div>
		    </li>
		    <li>
		      <span>Effektiver Jahreszins</span>
		      <p>-4,63 %</p>
		    </li>
		    <li>
		      <span>Monatliche Gesamt-Leasing-Rate<sup>*</sup></span>
		      <p>450,00 Euro</p>
		      <div class="mb-icon-i"></div>
		    </li>
		  </ul>
		  <h3>Ihre Vorteile.</h3>
		  <div class="panel-group" id="accordion">

		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
		          Leasing &amp; Versicherung
		        </a>
		      </div>
		      <div id="collapse1" class="panel-collapse collapse in">
		        <div class="panel-body">
		          <ul class="panel-advantages-list">
		            <li>
		              Leasing inklusive Haftpflicht- und Vollkaskoversicherung
		            </li>
		            <li>
		              Eine konstante Versicherungsprämie über die gesamte Laufzeit - auch im Schadensfall
		            </li>
		            <li>
		              Vollständiger Ersatz bei Diebstahl von Audio-, Video-, Kommunikations- und
		              Leitsystemen bis 6 Monate nach Erstzulassung
		            </li>
		          </ul>
		          <p class="panel-additional-text">
		            Versicherer ist die HDI Versicherung AG, HDI-Platz 1, 30659 Hannover, vermittelt durch die Mercedes-Benz Bank AG. Die ausgewiesene Versicherungsprämie gilt für die Schadenfreiheitsklassen SF02 bis SF20. Das Angebot beinhaltet: Service-Routing zur Marken-Werkstatt, 6 Monate Neuwertentschädigung, 12 Monate Kaufpreiserstattung bei Radio-, Phono- und Navi-Aggregaten, Selbstbeteiligung (Teilkasko 500 Euro / Vollkasko 1.000 Euro, wenn der berechtigte Fahrer zum Zeitpunkt des Schadenfalles das 22. Lebensjahr vollendet hat.), im Schadenfall einfache Abwicklung über die Service Card, 24-Stunden-Unfallhotline, beitragsfreie Mitversicherung werkseitig eingebauter Sonderausstattung, 100 Mio. Euro Haftpflichtdeckung. Bei anderen Schadenfreiheitsklassen kann eine abweichende Prämie gelten.
		          </p>
		        </div>
		      </div>
		    </div>

		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
		          Wartung und Verschleißrepara...
		        </a>
		      </div>
		      <div id="collapse2" class="panel-collapse collapse">
		        <div class="panel-body">
		          content
		        </div>
		      </div>
		    </div>

		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
		          Überführung und Zulassung
		        </a>
		      </div>
		      <div id="collapse3" class="panel-collapse collapse">
		        <div class="panel-body">
		          content
		        </div>
		      </div>
		    </div>

		  </div>
		</div>
	</div>
</div>
<div class="container-md">
	<div class="row">
		<div class="col-xs-12">
			<div class="mb-contacts-dark-block">
				<h3>Haben Sie Fragen zu diesem Angebot?</h3>
				<div class="row">
					<div class="col-xs-3">
						<a href="#">
							Rückruf
							<br>
							anfordern
						</a>
					</div>
					<div class="col-xs-3">
						<a href="#">
							Live-Chat
							<br>
							starten
						</a>
					</div>
					<div class="col-xs-3">
						<a href="#">
							Beratung vor Ort
							<br>
							vereinbaren
						</a>
					</div>
					<div class="col-xs-3">
						<a href="#">
							Anfrage per E-Mail
							<br>
							senden
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row mb-checkout-data-reasons">
		<div class="col-xs-3 mb-checkout-data-reasons-title">
			<h3>So geht es weiter:</h3>
		</div>
		<div class="col-xs-3 mb-checkout-data-reason">
			<h3>1. Ihre Bestellung.</h3>
		</div>
		<div class="col-xs-3 mb-checkout-data-reason">
			<h3>2. Ihr Leasing-Vertrag.</h3>
		</div>
		<div class="col-xs-3 mb-checkout-data-reason">
			<h3>3. Ihre Lieferung.</h3>
		</div>
	</div>
</div>
<div class="container-fluid mb-checkout-form-navigation-block">
	<div class="row">
		<div class="col-xs-6 text-left">
			<button class="mb-checkout-form-navigation-back">Back</button>
		</div>
		<div class="col-xs-6 text-right">
			<button class="mb-checkout-form-navigation-next">Next</button>
			<button class="mb-checkout-form-navigation-finish">Finish</button>
		</div>
	</div>
</div>
<div class="mb-checlout-form-wrapper container-md">
	<form>
		<h2>Wo möchten Sie beraten werden?</h2>
	  <div class="row">
	    <div class="col-xs-12">
	      <div class="btn-group btn-group-lg" data-toggle="buttons">
	        <label class="btn btn-primary active">
	          <input type="radio" name="delivery-type" id="option-1" autocomplete="off" checked> Wunschadresse
	        </label>
	        <label class="btn btn-primary">
	          <input type="radio" name="delivery-type" id="option-2" autocomplete="off"> Mercedes-Benz Partner
	        </label>
	      </div>
	    </div>
	  </div>
	  <h3>Bitte geben Sie Ihre Wunschadresse im Hamburger Stadtgebiet an. Wir kommen zu Ihnen.</h3>
	  <div class="row">
	    <div class="col-xs-12">
	      <div class="row">
	        <div class="col-xs-4">
	          <div class="form-group">
	            <label for="field-1">Straße <sup>*</sup></label>
	            <input type="text" class="form-control" id="field-1" name="delivery-street">
	          </div>
	        </div>
	        <div class="col-xs-2">
	          <div class="form-group">
	            <label for="field-2">Nummer <sup>*</sup></label>
	            <input type="text" class="form-control" id="field-2" name="delivery-house">
	          </div>
	        </div>
	        <div class="col-xs-6">
	          <div class="form-group">
	            <label for="field-3">Adresszusatz</label>
	            <input type="text" class="form-control" id="field-3" name="delivery-additional">
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-xs-6">
	      <div class="row">
	        <div class="col-xs-3">
	          <div class="form-group">
	            <label for="field-4">PLZ <sup>*</sup></label>
	            <input type="text" class="form-control" id="field-4" name="delivery-index">
	          </div>
	        </div>
	        <div class="col-xs-9">
	          <div class="form-group">
	            <label for="field-5">Ort <sup>*</sup></label>
	            <input type="text" class="form-control" id="field-5" name="delivery-city">
	          </div>
	        </div>
	      </div>
	    </div>
	    <label class="mb-form-sublabel"><sup>*</sup> Pflichtfelder</label>
	  </div>
	  <hr>
	  <h2>Wann möchten Sie beraten werden?</h2>
	  <div class="row">
	    <div class="col-xs-12">
	      <div class="row">
	        <div class="col-xs-6">
	          <div class="form-group">
	            <div class='input-group mb-date-wrapper' id='field-date-wrapper'>
	              <label for="field-1">Datum</label>
	              <div id="field-date" name="delivery-date"></div>
	            </div>
	          </div>
	        </div>
	        <div class="col-xs-3">
	          <div class="form-group">
	            <label for="field-5">Startzeit</label>
	            <select class="form-control" id="field-1" name="delivery-time">
	              <option value="">9 : 00 Uhr</option>
	              <option value="">10 : 00 Uhr</option>
	              <option value="">11 : 00 Uhr</option>
	            </select>
	            <label for="field-1" class="mb-select-arrow"></label>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <h2>Persönliche Daten.</h2>
	  <div class="row">
	    <div class="col-xs-12">
	      <div class="row">
	        <div class="col-xs-2">
	          <div class="form-group">
              <label for="field-1">Anrede <sup>*</sup></label>
              <select class="form-control" id="field-1" name="personal-salutation">
	              <option value=""></option>
	              <option value=""></option>
	              <option value=""></option>
	            </select>
	            <label for="field-1" class="mb-select-arrow"></label>
	          </div>
	        </div>
	        <div class="col-xs-4">
	          <div class="form-group">
	            <label for="field-5">Titel</label>
	            <select class="form-control" id="field-1" name="personal-title">
	              <option value=""></option>
	              <option value=""></option>
	              <option value=""></option>
	            </select>
	            <label for="field-1" class="mb-select-arrow"></label>
	          </div>
	        </div>
	      </div>
      </div>
    </div>
    <div class="row">
	    <div class="col-xs-12">
	      <div class="row">
	        <div class="col-xs-6">
	          <div class="form-group">
              <label for="field-1">Vorname <sup>*</sup></label>
              <input type="text" class="form-control" id="field-5" name="personal-first-name">
	          </div>
	        </div>
	        <div class="col-xs-6">
	          <div class="form-group">
              <label for="field-1">Nachname <sup>*</sup></label>
              <input type="text" class="form-control" id="field-5" name="personal-second-name">
	          </div>
	        </div>
	      </div>
      </div>
    </div>
    <div class="row">
	    <div class="col-xs-6">
	      <div class="row">
	        <div class="col-xs-12">
	          <div class="form-group">
              <label for="field-1">Firma</label>
              <input type="text" class="form-control" id="field-5" name="delivery-company">
	          </div>
	        </div>
	      </div>
	     </div>
	     <div class="col-xs-6">
	     	<div class="row">
	    		<div class="col-xs-9">
	          <div class="form-group">
	            <label for="field-1">Straße <sup>*</sup></label>
	            <input type="text" class="form-control" id="field-1" name="delivery-street">
	          </div>
	        </div>
	        <div class="col-xs-3">
	          <div class="form-group">
	            <label for="field-2">Nummer <sup>*</sup></label>
	            <input type="text" class="form-control" id="field-2" name="delivery-house">
	          </div>
	        </div>
	    	</div>
	    </div>
	  </div>
	  <div class="row">
	    <div class="col-xs-6">
	      <div class="row">
					<div class="col-xs-12">
	          <div class="form-group">
              <label for="field-1">Adresszusatz</label>
              <input type="text" class="form-control" id="field-5" name="personal-additional">
	          </div>
	        </div>
        </div>
      </div>
      <div class="col-xs-6">
      	<div class="row">
      		<div class="col-xs-3">
	          <div class="form-group">
	            <label for="field-4">PLZ <sup>*</sup></label>
	            <input type="text" class="form-control" id="field-4" name="delivery-index">
	          </div>
	        </div>
	        <div class="col-xs-9">
	          <div class="form-group">
	            <label for="field-5">Ort <sup>*</sup></label>
	            <input type="text" class="form-control" id="field-5" name="delivery-city">
	          </div>
      		</div>
      	</div>
      </div>
    </div>
		<div class="row">
	    <div class="col-xs-6">
	      <div class="row">
	      	<div class="col-xs-12">
	          <div class="form-group">
              <label for="field-1">E-Mail <sup>*</sup></label>
              <input type="text" class="form-control" id="field-5" name="personal-email">
	          </div>
	        </div>
      	</div>
      </div>
      <div class="col-xs-6">
	    	<div class="row">
	    		<div class="col-xs-12">
	          <div class="form-group">
              <label for="field-1">Telefon</label>
              <input type="text" class="form-control" id="field-5" name="personal-phone">
	          </div>
	        </div>
	    	</div>
      </div>
      <label class="mb-form-sublabel"><sup>*</sup> Pflichtfelder</label>
    </div>
		<h2>Besondere Wünsche.</h2>
		<h3><b>Haben Sie ein Wunschkennzeichen?</b></h3>
		<h3>
			Wir werden Ihr Wunschkennzeichen beantragen. Sollte Ihr Wunschkennzeichen bereits vergeben sein, werden wir Sie direkt darüber informieren und Alternativen vorschlagen.
		</h3>
		<div class="row">
	    <div class="col-xs-6">
	      <div class="row">
	      	<div class="col-xs-10">
	          <div class="form-group">
              <label for="field-1">Wunschkennzeichen</label>
              <input type="text" class="form-control" id="field-5" name="license-plates">
	          </div>
	        </div>
      	</div>
      </div>
    </div>
    <h3><b>Möchten Sie Ihr aktuelles Fahrzeug in Zahlung geben?</b></h3>
		<h3>
			Nutzen Sie Ihr aktuelles Fahrzeug als Startkapital. Unsere Experten bewerten gerne Ihr Fahrzeug und bieten
			Ihnen einen fairen Inzahlungnahmepreis an.
		</h3>
		<div class="row">
			<div class="col-xs-4">
				<div class="btn-group btn-group-sm" data-toggle="buttons">
			    <label class="btn btn-primary active">
			      <input type="radio" name="trade-in" id="option-1" autocomplete="off" checked> Ja
			    </label>
			    <label class="btn btn-primary">
			      <input type="radio" name="trade-in" id="option-2" autocomplete="off"> Nein
			    </label>
			  </div>
			</div>
		</div>
	  <div class="row">
	    <div class="col-xs-6">
	      <div class="row">
					<div class="col-xs-12">
	          <div class="form-group">
              <label for="field-1">Hersteller/Typ <sup>*</sup></label>
              <input type="text" class="form-control" id="field-5" name="trade-in-model">
	          </div>
	        </div>
        </div>
      </div>
      <div class="col-xs-6">
      	<div class="row">
      		<div class="col-xs-6">
	          <div class="form-group">
	            <label for="field-4">Erstzulassung <sup>*</sup></label>
	            <input type="text" class="form-control" id="field-4" name="trade-in-date">
                <span class="form-error-message"></span>
	          </div>
	        </div>
	        <div class="col-xs-6">
	          <div class="form-group">
	          	<label for="field-5">Kilometerstand <sup>*</sup></label>
	          	<div class="input-group">
							  <input type="text" class="form-control" id="field-5" name="trade-in-km">
							  <span class="input-group-addon" id="basic-addon2">km</span>
							</div>
	          </div>
      		</div>
      	</div>
      </div>
    </div>
		<input type="submit" name="submit">
	</form>
</div>
<div class="container-md">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2 mb-checkout-buyer-summary">
			<div class="row">
				<div class="col-xs-12">
					<h2>Ihre Daten und Wünsche.</h2>
				</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">Name</div>
				<div class="col-xs-8">Herr Klaus Schmidt</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">Geburtsdatum</div>
				<div class="col-xs-8">23.05.1984</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">Anschrift</div>
				<div class="col-xs-8">Schlüterstraße 104, 12087 Berlin</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">E-Mail</div>
				<div class="col-xs-8">klaus.schmidt@googlemail.com</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">Telefon</div>
				<div class="col-xs-8">030 3455671</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">Lieferadresse</div>
				<div class="col-xs-8">Schlüterstraße 104, 12087 Berlin</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">Lieferdatum</div>
				<div class="col-xs-8">voraussichtlich 15.08.2015, 09:00 - 12:00 Uhr</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">Wunschkennzeichen</div>
				<div class="col-xs-8">HH - MB</div>
			</div>
			<div class="row mb-checkout-buyer-summary-row">
				<div class="col-xs-4">Inzahlungnahme</div>
				<div class="col-xs-8">keine Inzahlungnahme</div>
			</div>
		</div>
	</div>
</div>
<div class="container-md">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="mb-checkout-cancellation-block">
				<div class="mb-checkout-cancellation-description">
					<h2>Widerrufsbelehrung.</h2>
					<p><b>Widerrufsrecht</b></p>
					<p>
						Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.
					</p>
					<p>
						Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die Waren in Besitz genommen haben bzw. hat.
					</p>
					<p>
						Um Ihr Widerrufsrecht auszuüben, müssen Sie uns (Daimler AG, Mercedes-Benz Niederlassung Hamburg, Friedrich-Ebert-Damm 115, 22047 Hamburg, Telefon 040 / 6941 4444, Telefax 040/6941-2099, E-Mail support@mercedes-benz.com) mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief, Telefax oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist.
					</p>
					<p>
						Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.
					</p>
					<p><b>Folgen des Widerrufs</b></p>
					<p>
						Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich 
						der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet. Wir können die Rückzahlung verweigern, bis wir die Waren wieder zurückerhalten haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren zurückgesandt haben, je nachdem, welches der frühere Zeitpunkt ist.
					</p>
					<p>
						Sie haben die Waren unverzüglich und in jedem Fall spätestens binnen vierzehn Tagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrages unterrichten, an uns zurückzusenden oder zu übergeben. Die Frist ist gewahrt, wenn Sie die Waren vor Ablauf der Frist von vierzehn Tagen absenden. Wir tragen die Kosten der Rücksendung der Waren. Sie müssen für einen etwaigen Wertverlust der Waren nur aufkommen, wenn dieser Wertverlust auf einen zur Prüfung der Beschaffenheit, Eigenschaften und Funktionsweise der Waren nicht notwendigen Umgang mit ihnen zurückzuführen ist.
					</p>
				</div>
				<p>
					Das Widerrufsrecht gilt nur für Verbraucher. Verbraucher ist jede natürliche Person, die ein Rechtsgeschäft zu Zwecken abschließt, die überwiegend weder ihrer gewerblichen noch ihrer selbstständigen beruflichen Tätigkeit zugerechnet werden können.  
				</p>
				<p>
					Das in der vorstehenden Widerrufsbelehrung erwähnte Muster-Widerrufsformular finden Sie unter „<a href="">Store-Info/Widerruf</a>“.
				</p>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="mb-checkout-register-info">
				<h3>Hinweis</h3>
				<p>
					Für die Bestellung ist es notwendig, dass Sie Ihre Registrierung im Mercedes-Benz Online Store abschließen. Ist Ihre 
					Registrierung noch nicht vollständig abgeschlossen, folgen Sie dafür bitten dem Link, den wir Ihnen per E-Mail geschickt haben.
				</p>
				<p>Vielen Dank.</p>
			</div>
		</div>
	</div>
</div>
