<div class="index__billboard">
	<div class="mb-store-info-wrapper">
		<div class="container-fluid">
			<ul class="mb-nav-inside">
				<li><a data-tab="tab1" href="#" class="mb-nav-inside-link active">{{locale "store_info.store.nav"}}</a></li>
				<li><a data-tab="tab2" href="#" class="mb-nav-inside-link">{{locale "store_info.actions.nav"}}</a></li>
				<li><a data-tab="tab3" href="#" class="mb-nav-inside-link">{{locale "store_info.leasing.nav"}}</a></li>
				<li><a data-tab="tab4" href="#" class="mb-nav-inside-link">{{locale "store_info.process.nav"}}</a></li>
				<li><a data-tab="tab5" href="#" class="mb-nav-inside-link">{{locale "store_info.faq.nav"}}</a></li>
				<li><a data-tab="tab6" href="#" class="mb-nav-inside-link">{{locale "store_info.agb.nav"}}</a></li>
				<li><a data-tab="tab7" href="#" class="mb-nav-inside-link">{{locale "store_info.waiver.nav"}}</a></li>
			</ul>
			<!-- =======================Uber den Store header============================= -->
			<div class="tab1 mb-store-info-header row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h1>
						{{locale "store_info.store.header.title"}}
					</h1>
					<p class="mb-store-info-desc">
                      {{locale "store_info.store.header.desc"}}
					</p>
				</div>
			</div>
			<!-- =======================end============================= -->

			<!-- =============================Aktuelle Aktionen header============================= -->
			<div class="tab2 mb-store-info-header row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h1>
                      {{locale "store_info.actions.header.title"}}
					</h1>
				</div>
			</div>
			<!-- ========================end============================= -->

			<!-- =====================Leasing-Komplettpaket header======================= -->
			<div class="tab3 mb-store-info-header row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h1>
                      {{locale "store_info.leasing.header.title"}}
					</h1>
				</div>
			</div>
			<!-- =========================end============================== -->

			<!-- =====================Bestellprozess header======================= -->
			<div class="tab4 mb-store-info-header row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h1>
                      {{locale "store_info.process.header.title"}}
					</h1>
				</div>
			</div>
			<!-- ==========================end=========================== -->

			<!-- ====================FAQ header======================== -->
			<div class="tab5 mb-store-info-header row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h1>
                      {{locale "store_info.faq.header.title"}}
					</h1>
					<p class="mb-store-info-desc">
                      {{locale "store_info.faq.header.desc"}}
					</p>
				</div>
			</div>
			<!-- ============================end=============================== -->

			<!-- =====================AGB header======================= -->
			<div class="tab6 mb-store-info-header row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h1>
                      {{locale "store_info.agb.header.title"}}
					</h1>
					<p class="mb-store-info-desc">
                      {{locale "store_info.agb.header.desc"}}
					</p>
				</div>
			</div>
			<!-- =======================end============================ -->

			<!-- ====================Widerruf header======================== -->
			<div class="tab7 mb-store-info-header row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h1>
                      {{locale "store_info.waiver.header.title"}}
					</h1>
				</div>
			</div>
			<!-- =========================end=================================== -->


			<div class="mb-store-info-main row">

			<!-- =======================Uber den Store============================= -->
			<div class="tab1 col-xs-12 col-sm-6 col-md-8 col-lg-8">
				<div class="mb-store-info-news row">
					<div class="news-img col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<img src="/images/content/store-info-1.jpg" alt="foto-1">
					</div> 
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<h4 class="news-title">{{locale "store_info.store.block.1.title"}}</h4>
						<p class="news-desc">
                          {{locale "store_info.store.block.1.desc"}}
						</p>
						<a class="news-link" href="#">{{locale "store_info.store.block.1.link"}}</a>
					</div>
				</div>
				<div class="mb-store-info-news row">
					<div class="news-img col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<img src="/images/content/store-info-2.jpg" alt="foto-2">
					</div> 
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<h4 class="news-title">{{locale "store_info.store.block.2.title"}}</h4>
						<p class="news-desc">
                          {{locale "store_info.store.block.2.desc"}}
						</p>
						<a class="news-link" href="#">{{locale "store_info.store.block.2.link"}}</a>
					</div>
				</div>
				<div class="mb-store-info-news row">
					<div class="news-img col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<img src="/images/content/store-info-2.jpg" alt="foto-2">
					</div> 
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<h4 class="news-title">{{locale "store_info.store.block.3.title"}}</h4>
						<p class="news-desc">
                          {{locale "store_info.store.block.3.desc"}}
						</p>
						<a class="news-link" href="#">{{locale "store_info.store.block.3.link"}}</a>
					</div>
				</div>
			</div>
			<!-- =================================end================================== -->

			<!-- =============================Aktuelle Aktionen============================= -->
			<div class="tab2 col-xs-12 col-sm-6 col-md-8 col-lg-8">
				<div class="mb-store-info-news row">
					<div class="news-img big col-lg-12">
						<img src="/images/content/store-info-page2-1.jpg" alt="foto-1">
					</div> 
					<div class="col-lg-12">
						<h4 class="news-title">{{locale "store_info.actions.block.1.title"}}</h4>
						<p class="news-desc">
                          {{locale "store_info.actions.block.1.desc"}}
						</p>
						<p class="mb-campaign-text-important">
                          {{locale "store_info.actions.block.1.cost"}}
						</p>
						<div class="mb-campaign-action-block">
							<button class="mb-campaign-action-button">{{locale "store_info.actions.block.1.button"}}</button>
						</div>
					</div>
				</div>
				<div class="mb-store-info-news row">
					<div class="news-img big col-lg-12">
						<img src="/images/content/store-info-page2-2.jpg" alt="foto-2">
					</div> 
					<div class="col-lg-12">
						<h4 class="news-title">{{locale "store_info.actions.block.2.title"}}</h4>
						<p class="news-desc">
                          {{locale "store_info.actions.block.2.desc"}}
						</p>
						<p class="mb-campaign-text-important">
                          {{locale "store_info.actions.block.2.cost"}}
						</p>
						<div class="mb-campaign-action-block">
							<button class="mb-campaign-action-button">{{locale "store_info.actions.block.2.button"}}</button>
						</div>
					</div>
				</div>
				<div class="mb-store-info-news row">
					<div class="news-img big col-lg-12">
						<img src="/images/content/store-info-page2-3.jpg" alt="foto-3">
					</div> 
					<div class="col-lg-12">
						<h4 class="news-title">{{locale "store_info.actions.block.3.title"}}</h4>
						<p class="news-desc">
                          {{locale "store_info.actions.block.3.desc"}}
						</p>
						<p class="mb-campaign-text-important">
                          {{locale "store_info.actions.block.3.cost"}}
						</p>
						<div class="mb-campaign-action-block">
							<button class="mb-campaign-action-button">{{locale "store_info.actions.block.3.button"}}</button>
						</div>
					</div>
				</div>
			</div>
			<!-- ====================end======================== -->

			<!-- =====================Leasing-Komplettpaket======================= -->
				<div class="tab3 col-xs-12 col-sm-6 col-md-8 col-lg-8">
					
					<div class="mb-store-info-news row">
						<div class="news-img big col-lg-12">
							<img src="/images/content/store-info-page3-1.jpg" alt="foto-1">
						</div> 
						<div class="col-lg-12">
							<div class="panel-group" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<a class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                          {{locale "store_info.leasing.accordion.1.title"}}
										</a>
									</div>
									<div id="collapse1" class="panel-collapse collapse in">
										<div class="panel-body">
											<ul class="panel-advantages-list">
                                              {{locale "store_info.leasing.accordion.1.desc.advantages"}}
											</ul>
											<p class="panel-additional-text">
                                              {{locale "store_info.leasing.accordion.1.desc.additional"}}
											</p>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                          {{locale "store_info.leasing.accordion.2.title"}}
										</a>
									</div>
									<div id="collapse2" class="panel-collapse collapse">
										<div class="panel-body">
                                          {{locale "store_info.leasing.accordion.2.desc"}}
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                          {{locale "store_info.leasing.accordion.3.title"}}
										</a>
									</div>
									<div id="collapse3" class="panel-collapse collapse">
										<div class="panel-body">
                                          {{locale "store_info.leasing.accordion.3.desc"}}
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			<!-- ====================end======================== -->

			<!-- =====================Bestellprozess======================= -->
				<div class="tab4 col-xs-12 col-sm-6 col-md-8 col-lg-8">
					<div class="mb-store-info-news row clearfix">
						<div class="news-img news-img-small col-xs-6 col-sm-12 col-md-6 col-lg-6 pull-left">
							<img src="/images/content/store-info-page4-1.jpg" alt="foto-1">
						</div> 
						<div>
							<h4 class="news-title">{{locale "store_info.process.block.1.title"}}</h4>
							
							<p class="news-desc">
                              {{locale "store_info.process.block.1.desc.1"}}
							</p>
							<p class="news-desc">
                              {{locale "store_info.process.block.1.desc.2"}}
							</p>
							<p class="news-desc">
                              {{locale "store_info.process.block.1.desc.3"}}
							</p>
						</div>
					</div>
					<div class="mb-store-info-news row clearfix">
						<div class="news-img news-img-small col-xs-6 col-sm-12 col-md-6 col-lg-6 pull-left">
							<img src="/images/content/store-info-page4-2.jpg" alt="foto-1">
						</div> 
						<div>
							<h4 class="news-title">{{locale "store_info.process.block.2.title"}}</h4>
							
							<p class="news-desc">
                              {{locale "store_info.process.block.2.desc.1"}}
							</p>
							<p class="news-desc">
                              {{locale "store_info.process.block.2.desc.2"}}
							</p>
							<p class="news-desc">
                              {{locale "store_info.process.block.2.desc.3"}}
							</p>
							<p class="news-desc">
                              {{locale "store_info.process.block.2.desc.4"}}
							</p>
						</div>
					</div>
					<div class="mb-store-info-news row clearfix">
						<div class="news-img news-img-small col-xs-6 col-sm-12 col-md-6 col-lg-6 pull-left">
							<img src="/images/content/store-info-page4-3.jpg" alt="foto-1">
						</div> 
						<div>
							<h4 class="news-title">{{locale "store_info.process.block.3.title"}}</h4>
							<p class="news-desc">
                              {{locale "store_info.process.block.3.desc.1"}}
							</p>
						</div>
					</div>
				</div>
			<!-- ===================end========================= -->

			<!-- ====================FAQ======================== -->
				<div class="tab5 col-xs-12 col-sm-6 col-md-8 col-lg-8">
					<div class="panel-group" id="accordion2">
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="panel-title" data-toggle="collapse" data-parent="#accordion2" href="#collapse2-1">
									{{locale "store_info.faq.accordion.1.title"}}
								</a>
							</div>
							<div id="collapse2-1" class="panel-collapse collapse in">
								<div class="panel-body">
									<ul class="panel-advantages-list">
                                      {{locale "store_info.faq.accordion.1.desc.advantages"}}
									</ul>
									<p class="panel-additional-text">
                                      {{locale "store_info.faq.accordion.1.desc.additional"}}
									</p>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse2-2">
                                  {{locale "store_info.faq.accordion.2.title"}}
								</a>
							</div>
							<div id="collapse2-2" class="panel-collapse collapse">
								<div class="panel-body">
                                  {{locale "store_info.faq.accordion.2.desc"}}
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse2-3">
                                  {{locale "store_info.faq.accordion.3.title"}}
								</a>
							</div>
							<div id="collapse2-3" class="panel-collapse collapse">
								<div class="panel-body">
                                  {{locale "store_info.faq.accordion.3.desc"}}
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse2-4">
                                  {{locale "store_info.faq.accordion.4.title"}}
								</a>
							</div>
							<div id="collapse2-4" class="panel-collapse collapse">
								<div class="panel-body">
                                  {{locale "store_info.faq.accordion.4.desc"}}
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse2-5">
                                  {{locale "store_info.faq.accordion.5.title"}}
								</a>
							</div>
							<div id="collapse2-5" class="panel-collapse collapse">
								<div class="panel-body">
                                  {{locale "store_info.faq.accordion.5.desc"}}
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- ===================end========================= -->

			<!-- =====================AGB======================= -->
			<div class="tab6 col-xs-12 col-sm-6 col-md-8 col-lg-8">
				<div class="download-block col-lg-12">
					<h4>{{locale "store_info.agb.buy.title"}}</h4>
					<a class="download-link" href="#">{{locale "store_info.agb.buy.link.1"}}</a>
					<a class="download-link" href="#">{{locale "store_info.agb.buy.link.2"}}</a>
				</div>
				<div class="download-block col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h4>{{locale "store_info.agb.leasing.title"}}</h4>
					<a class="download-link" href="#">{{locale "store_info.agb.leasing.link.1"}}</a>
				</div>
				<div class="download-block col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h4>{{locale "store_info.agb.maintenance.title"}}</h4>
					<a class="download-link" href="#">{{locale "store_info.agb.maintenance.link.1"}}</a>
				</div>
				<div class="download-block col-xs-12 col-sm-8 col-md-8 col-lg-8">
					<h4>{{locale "store_info.agb.insurance.title"}}</h4>
					<a class="download-link" href="#">{{locale "store_info.agb.insurance.link.1"}}</a>
					<a class="download-link" href="#">{{locale "store_info.agb.insurance.link.2"}}</a>
				</div>
			</div>
			<!-- ===================end========================= -->

			<!-- ====================Widerruf======================== -->
			<div class="tab7 col-xs-12 col-sm-6 col-md-8 col-lg-8">
				<div class="desc-block col-lg-12">
                  <p>{{locale "store_info.waiver.withdrawal.title"}}</p>
                  {{locale "store_info.waiver.withdrawal.desc"}}
					<a class="download-link" href="#">{{locale "store_info.waiver.withdrawal.link"}}</a>
				</div>
				<div class="desc-block col-lg-12">
                  <h5>{{locale "store_info.waiver.effects.title"}}</h5>
                  {{locale "store_info.waiver.effects.desc"}}
					<a class="print-link" href="#">{{locale "store_info.waiver.effects.link"}}</a>
				</div>
			</div>
			<!-- ====================end======================== -->
				<div class="mb-catalogue-dark-block col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<div class="mb-dark-block-title">
                      {{locale "contact_block.title"}}
					</div>
					<ul class="mb-dark-block-list">
						<li class="js-call-callback-modal"><i class="mb-icon-phone"></i>{{locale "contact_block.button.callback"}} <i class="pull-right md-icon-right-angle"></i></li>
						<li><i class="mb-icon-chat"></i>{{locale "contact_block.button.chat"}} <span class="pull-right md-icon-right-angle"></span></li>
						<li class="js-support-modal"><i class="mb-icon-people"></i>{{locale "contact_block.button.support"}} <span class="pull-right md-icon-right-angle"></span></li>
						<li class="js-call-email-modal"><i class="mb-icon-letter"></i>{{locale "contact_block.button.email"}} <span class="pull-right md-icon-right-angle"></span></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>