<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="mb-contact-text">
        <div class="mb-contact-text-title">
          {{locale "contact.top.title"}}
        </div>
        {{locale "contact.top.text.1"}}<br/>
        {{locale "contact.top.text.2"}}
      </div>
    </div>
  </div>
</div>
<div class="mb-contact-banner">
  <div class="mb-banner-text-block">
    <div class="mb-banner-text-wrap">
      <div class="mb-banner-text-title">
        {{locale "contact.drive.title"}}
      </div>
      <div class="mb-banner-text">
        {{locale "contact.drive.text.1"}}<br/>
        {{locale "contact.drive.text.2"}}
      </div>
      <button class="btn btn-lg btn-primary btn-14">
        <div class="mb-icon-wrap">
          <i class="mb-icon-calendar"></i>
        </div>
        {{locale "contact.drive.button"}}
      </button>
    </div>
  </div>
  <img src="/images/contact-banner.png" alt=""/>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="md-contact-card">
        <div class="md-contact-card-title">
          <div class="mb-icon-contact-phone">
            <div class="mb-icon-contact"></div>
          </div>
          {{locale "contact.callback.title"}}
        </div>
        <div class="md-contact-card-content">
          <p>
            {{locale "contact.callback.text.1"}}<br/>
            {{locale "contact.callback.text.2"}}
          </p>
          <button class="btn btn-secondary btn-lg btn-14">{{locale "contact.callback.button"}}</button>
          <p>
            {{locale "contact.callback.phone"}}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-contact-card">
        <div class="md-contact-card-title">
          <div class="mb-icon-contact-chat">
            <div class="mb-icon-contact"></div>
          </div>
          {{locale "contact.chat.title"}}
        </div>
        <div class="md-contact-card-content">
          <p>
            {{locale "contact.chat.text.1"}}
          </p>
          <button class="btn btn-secondary btn-lg btn-14">{{locale "contact.chat.button"}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="md-contact-card">
        <div class="md-contact-card-title">
          <div class="mb-icon-contact-users">
            <div class="mb-icon-contact"></div>
          </div>
          {{locale "contact.support.title"}}
        </div>
        <div class="md-contact-card-content">
          <p>
            {{locale "contact.support.text.1"}}<br/>
            {{locale "contact.support.text.2"}}
          </p>
          <button class="btn btn-secondary btn-lg btn-14">{{locale "contact.support.button"}}</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-contact-card">
        <div class="md-contact-card-title">
          <div class="mb-icon-contact-letter">
            <div class="mb-icon-contact"></div>
          </div>
          {{locale "contact.email.title"}}
        </div>
        <div class="md-contact-card-content">
          <p>
            {{locale "contact.email.text.1"}}<br/>
            {{locale "contact.email.text.2"}}
          </p>
          <button class="btn btn-secondary btn-lg btn-14">{{locale "contact.email.button"}}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="md-contact-card">
        <div class="md-contact-card-title">
          <div class="mb-icon-contact-car">
            <div class="mb-icon-contact"></div>
          </div>
          {{locale "contact.auto.title"}}
        </div>
        <div class="md-contact-card-content">
          <p>
            {{locale "contact.auto.text.1"}}<br/>
            {{locale "contact.auto.text.2"}}
          </p>
          <button class="btn btn-secondary btn-lg btn-14">{{locale "contact.auto.button"}}</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-contact-card">
        <div class="md-contact-card-title">
          <div class="mb-icon-contact-info">
            <div class="mb-icon-contact"></div>
          </div>
          {{locale "contact.client.title"}}
        </div>
        <div class="md-contact-card-content">
          <p>
            {{locale "contact.client.text.1"}}
            <br/><br/>
            {{locale "contact.client.text.2"}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

