{{!-- top navigation  --}}
<nav class="topNav">
  <ul>
    {{#each topNav}}
      <li {{#if active}} class="active" {{/if}}>
        <a href="{{url}}">
          {{name}}
          <span class="{{icon}}"></span>
        </a>
      </li>
    {{/each}}
  </ul>
</nav>
{{!-- end top navigation  --}}

{{!-- main navigation  --}}
<nav class="footerBottom">
  <ul>
    {{#each mainNav}}
      <li {{#if active}} class="active" {{/if}}>
        <a href="{{url}}">
          {{name}}
        </a>
      </li>
    {{/each}}
  </ul>
</nav>
{{!-- end main navigation  --}}
