<div class="col-xs-12 col-md-6 col-md-offset-3">
  <h2>{{locale "detail.offer_data.subtitle.1"}}</h2>
  <h3>A 180 Sondermodell StreetStyle</h3>
  <ul class="mb-offer-detail-list">
    <li>
      <span>Nettokaufpreis Fahrzeug</span>
      <p>37.105,00 Euro</p>
    </li>
    <li>
      <span>Zuzüglich derzeit 19% Umsatzsteuer</span>
      <p>7.049,95 Euro</p>
    </li>
    <li>
      <span>Bruttokaufpreis Fahrzeug</span>
      <p>44.154,95 Euro</p>
    </li>
    <li>
      <span>
        Zuzüglich Überführung (797,30 Euro) und 
        Zulassung (160,00 Euro)
      </span>
      <p>122 g/km</p>
    </li>
    <li class="important">
      <span>Gesamtpreis</span>
      <p>44.154,95 Euro</p>
    </li>
  </ul>
  <h3>{{locale "detail.offer_data.subtitle.2"}}</h3>
  <ul class="mb-offer-detail-list">
    <li>
      <span>Laufzeit</span>
      <p>36 Monate</p>
    </li>
    <li>
      <span>Gesamtlaufleistung</span>
      <p>30.000,00 km</p>
    </li>
    <li>
      <span>Leasing Sonderzahlung (0% des Bruttokaufpreises ab Werk)</span>
      <p>0,00 Euro</p>
      <div class="mb-icon-i"></div>
    </li>
    <li>
      <span>Gesamtkreditbetrag (Nettodarlehensbetrag)</span>
      <p>31.731,00 Euro</p>
    </li>
    <li>
      <span>Gesamtbetrag<sup>1</sup></span>
      <p>20.616,22 Euro</p>
    </li>
    <li>
      <span>Monatliche Leasingrate für Gebrauchsüberlassung</span>
      <p>280,00 Euro</p>
    </li>
    <li>
      <span>Monatliche Rate für Überführung und Zulassung</span>
      <p>10,00 Euro</p>
      <div class="mb-icon-i"></div>
    </li>
    <li>
      <span>Monatliche Rate für Kfz-Versicherung (Haftpflicht und Vollkasko) inklusive Versicherungssteuer</span>
      <p>10,00 Euro</p>
      <div class="mb-icon-i"></div>
    </li>
    <li>
      <span>Monatliche Rate für Wartung und Verschleißreparaturen</span>
      <p>69,00 Euro</p>
      <div class="mb-icon-i"></div>
    </li>
    <li>
      <span>Sollzinssatz % p.a. gebunden</span>
      <p>-5,38 %</p>
      <div class="mb-icon-i"></div>
    </li>
    <li>
      <span>Effektiver Jahreszins</span>
      <p>-4,63 %</p>
    </li>
    <li>
      <span>Monatliche Gesamt-Leasing-Rate<sup>*</sup></span>
      <p>450,00 Euro</p>
      <div class="mb-icon-i"></div>
    </li>
  </ul>
  <h3>{{locale "detail.offer_data.subtitle.3"}}</h3>
  <div class="panel-group" id="accordion">

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          {{locale "detail.offer_data.leasing.subtitle.1"}}
        </a>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
          <ul class="panel-advantages-list">
            <li>
              {{locale "detail.offer_data.leasing.text.1"}}
            </li>
            <li>
              {{locale "detail.offer_data.leasing.text.2"}}
            </li>
            <li>
              {{locale "detail.offer_data.leasing.text.3"}}
            </li>
          </ul>
          <p class="panel-additional-text">
            {{locale "detail.offer_data.leasing.text.4"}}
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          {{locale "detail.offer_data.leasing.subtitle.2"}}
        </a>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
          content
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          {{locale "detail.offer_data.leasing.subtitle.3"}}
        </a>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
          content
        </div>
      </div>
    </div>

  </div>
</div>