{{#if viewType}}
<div class="mb-catalogue-line">
  <div class="mb-catalogue-tabs">
    <div class="mb-tab js-tab active">{{locale "catalogue.tab.new_in_store"}}</div>
    <div class="mb-tab js-tab">{{locale "catalogue.tab.most_viewed"}}</div>
  </div>
</div>  
{{else}}
<div class="mb-catalogue-header row">
  <div class="hidden-xs hidden-sm col-md-6 col-lg-6">
    <h2 class="mb-catalogue-total">{{locale "catalogue.title"}}</h2>
  </div>
  <div class="hidden-xs hidden-sm col-md-6 col-lg-6 text-right">
    <select class="form-control mb-catalogue-select" name="" id="">
      <option value="">{{locale "catalogue.tab.latest_offers"}}</option>
      <option value="">{{locale "catalogue.tab.most_popular"}}</option>
    </select>
    <label for="field-1" class="mb-select-arrow"></label>
  </div>
  <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
      <div class="col-xs-6 col-sm-3">
          <h3 class="mb-catalogue-header-xs active">Neu im Store</h3>
      </div>
      <div class="col-xs-6 col-sm-3">
          <h3 class="mb-catalogue-header-xs">Meist angesehen</h3>
      </div>
  </div>
</div>
{{/if}}

<div class="mb-catalogue-items row">
  {{#if viewType}}
  <div class="mb-catalogue-dark-block col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="mb-dark-block-title">
      {{locale "contact_block.title"}}
    </div>
    <ul class="mb-dark-block-list">
      <li class="js-call-callback-modal"><i class="mb-icon-phone"></i>{{locale "contact_block.button.callback"}} <i class="pull-right md-icon-right-angle"></i></li>
      <li><i class="mb-icon-chat"></i>{{locale "contact_block.button.chat"}} <span class="pull-right md-icon-right-angle"></span></li>
      <li class="js-support-modal"><i class="mb-icon-people"></i>{{locale "contact_block.button.support"}} <span class="pull-right md-icon-right-angle"></span></li>
      <li class="js-call-email-modal"><i class="mb-icon-letter"></i>{{locale "contact_block.button.email"}} <span class="pull-right md-icon-right-angle"></span></li>
    </ul>
  </div>
  {{/if}}
  <div class="mb-catalogue-items-region"></div>
  {{#if viewType}}
  <div class="mb-catalogue-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="mb-item-img-wrapper mb-full-height">
      <img src="/images/content/All_Offers_Teaser.png" alt=""/>
    </div>
    <div class="mb-item-title-var-two">Alle Angebote entdecken und Wunschfahrzeug finden.</div>
  </div>
  {{/if}}
  {{#unless viewType}}
  <div class="mb-catalogue-dark-block col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="mb-dark-block-title">
      {{locale "contact_block.title"}}
    </div>
    <ul class="mb-dark-block-list">
      <li class="js-call-callback-modal"><i class="mb-icon-phone"></i>{{locale "contact_block.button.callback"}} <i class="pull-right md-icon-right-angle"></i></li>
      <li><i class="mb-icon-chat"></i>{{locale "contact_block.button.chat"}} <span class="pull-right md-icon-right-angle"></span></li>
      <li class="js-support-modal"><i class="mb-icon-people"></i>{{locale "contact_block.button.support"}} <span class="pull-right md-icon-right-angle"></span></li>
      <li class="js-call-email-modal"><i class="mb-icon-letter"></i>{{locale "contact_block.button.email"}} <span class="pull-right md-icon-right-angle"></span></li>
    </ul>
  </div>
  {{/unless}}
</div>
<div class="mb-pagination-region"></div>
<div class="mb-catalogue-overlay"></div>
