<div class="mb-bottom-copyright-wrapper container-fluid hidden-xs">
  <div class="mb-chat">
      <div class="mb-chat-1">
          <div class="mb-chat-head">
              <i class="mb-chat-drag"></i>
              <label class="mb-chat-name">Live-Chat</label>
              <span class="mb-chat-ind">2</span>
              <i class="mb-chat-close"></i>
              <i class="mb-chat-minus"></i>
          </div>
      </div>
      <div class="mb-chat-1">
          <div class="mb-chat-head">
              <i class="mb-chat-drag"></i>
              <label class="mb-chat-name">Live-Chat</label>
              <i class="mb-chat-close"></i>
              <i class="mb-chat-minus"></i>
          </div>
          <div class="mb-chat-body">
              <div class="mb-chat-body-img"></div>
              <div class="mb-chat-body-top">
                  <h4>Willkommen im Live-Chat.</h4>
                  <p>Wir beraten Sie gerne. Nach Eingabe Ihres Namens suchen wir Ihnen einen freien Berater.</p>
              </div>
              <div class="mb-chat-body-center">
                  <form>

                      <div class="row">
                        <div class="col-xs-12">
                          <label>Wie dürfen wir Sie ansprechen?</label>
                        </div>
                        <div class="col-xs-12">
                          <div class="row">
                            <div class="col-xs-5">
                              <select>
                                  <option>Anrede</option>
                              </select>
                            </div>
                            <div class="col-xs-7">
                              <input placeholder="Vorname">
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12">
                            <input placeholder="Nachname">                          
                        </div>
                      </div>
                  </form>
              </div>
              <div class="mb-chat-body-down">
                  <a href="javascript:void(0)">Chat starten</a>
              </div>
          </div>
      </div>
      <div class="mb-chat-1">
          <div class="mb-chat-head">
              <i class="mb-chat-drag"></i>
              <label class="mb-chat-name">Live-Chat</label>
              <i class="mb-chat-close"></i>
              <i class="mb-chat-minus"></i>
          </div>
          <div class="mb-chat-body">
              <div class="mb-chat-body-top">
                  <div class="media">
                      <div class="media-left media-middle">
                          <img class="media-object" src="/images/chat/foto.png" alt="...">
                      </div>
                      <div class="media-body">
                          <span>Sie sprechen mit</span>
                          <p>Peter Sennscheid</p>
                          <a href="javascript:void(0)">Chat beenden</a>
                      </div>
                  </div>
              </div>
              <div class="mb-chat-body-center">
                  <div class="mb-chat-body-center-mail">
                      <span class="mail_left">Hallo Herr Schmidt, was kann ich für Sie tun?</span>
                      <span class="mail_right">Kann ich die Fahrzeuge auch mit Geschäftskundenkonditionen leasen?</span>
                      <span class="mail_left mail_left_pst">...</span>
                      <span class="mail_right mail_right_pst">...</span>
                  </div>
              </div>
              <div class="mb-chat-body-down">
                  <input placeholder="Ihre Nachricht">
                  <button></button>
              </div>
          </div>
      </div>
      <div class="mb-chat-1">
          <div class="mb-chat-head">
              <i class="mb-chat-drag"></i>
              <label class="mb-chat-name">Live-Chat</label>
              <i class="mb-chat-close"></i>
              <i class="mb-chat-minus"></i>
          </div>
          <div class="mb-chat-body">
              <div class="mb-chat-body-top">
                  <h4>Wir hoffen wir konnten Ihnen behilflich sein.</h4>
                  <p>Wenn Sie möchten können Sie das Beratungsgespräch bewerten und uns helfen besser zu werden.</p>
              </div>
              <div class="mb-chat-body-center">
                  <form>
                    <div class="mb-chat-rating">
                      <span class="rating-icon rating-icon-full"></span>
                      <span class="rating-icon rating-icon-full"></span>
                      <span class="rating-icon"></span>
                      <span class="rating-icon"></span>
                      <span class="rating-icon"></span>
                    </div>
                    <input placeholder="Ihr Kommentar.">
                  </form>
              </div>
              <div class="mb-chat-body-down">
                  <a class="mb-chat-btn-grey" href="javascript:void(0)">Fenster schließen</a>
              </div>
          </div>
      </div>
      <div class="mb-chat-1">
          <div class="mb-chat-head">
              <i class="mb-chat-drag"></i>
              <label class="mb-chat-name">Live-Chat</label>
              <i class="mb-chat-close"></i>
              <i class="mb-chat-minus"></i>
          </div>
          <div class="mb-chat-body">
              <div class="mb-chat-body-top">
                  <h5>Hallo Herr Schmidt,</h5>
                  <p>Unsere Berater sind aktuell alle beschäftigt.</p>
              </div>
              <div class="mb-chat-body-center">
                  <div class="mb-chat-body-button">
                    <a class="mb-chat-btn-grey" href="javascript:void(0)">Warten bis ein Berater frei wird</a>
                    <a class="mb-chat-btn-grey" href="javascript:void(0)">Nachricht per E-Mail senden</a>
                    <a class="mb-chat-btn-grey" href="javascript:void(0)">Warten bis ein Berater frei wird</a>
                    <a class="mb-chat-btn-grey" href="javascript:void(0)">Nachricht per E-Mail senden</a>
                  </div>
              </div>
              <div class="mb-chat-body-down">
                  <input placeholder="Ihre Nachricht">
                  <button></button>
              </div>
          </div>
      </div>
      <div class="mb-chat-1">
          <div class="mb-chat-head">
              <i class="mb-chat-drag"></i>
              <label class="mb-chat-name">Live-Chat</label>
              <i class="mb-chat-close"></i>
              <i class="mb-chat-minus"></i>
          </div>
          <div class="mb-chat-body">
              <div class="mb-chat-body-top">
                  <h5>Hallo Herr Schmidt,</h5>
                  <p>Wir suchen gerade nach einem freien Berater.</p>
              </div>
              <div class="mb-chat-body-center">
                  <div class="mb-chat-sprinter">
                    <div class="mb-chat-sprinter-icon"></div>
                    <div class="mb-chat-sprinter-text">
                      Berater wird gesucht…
                    </div>
                  </div>
              </div>
              <div class="mb-chat-body-down">
                  <input placeholder="Ihre Nachricht">
                  <button></button>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{locale "footer.copyright"}}
    </div>
  </div>
</div>
<div class="mb-footer-wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 hidden-xs">
        <ul class="mb-link-list">
          <li>
            <a href="#">{{locale "footer.item.all_offers"}}</a>
          </li>
          <li>
            <a href="#">{{locale "footer.item.street_style"}}</a>
          </li>
          <li>
            <a href="#">{{locale "footer.item.em_picks"}}</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 hidden-xs">
        <ul class="mb-link-list">
          <li>
            <a href="#">{{locale "footer.item.models"}}</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 hidden-xs">
        <ul class="mb-link-list">
          <li>
            <a href="#" class="js-store-info">{{locale "footer.item.store_info"}}</a>
          </li>
          <li>
            <a href="#">{{locale "footer.item.how_it_works"}}</a>
          </li>
          <li>
            <a href="#">{{locale "footer.item.conditions"}}</a>
          </li>
          <li>
            <a href="#">{{locale "footer.item.faq"}}</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 hidden-xs">
        <ul class="mb-link-list">
          <li>
            <a href="#">
              {{locale "footer.item.contacts_sevice"}}
            </a>
          </li>
          <li>
            <a href="#">{{locale "footer.item.recall"}}</a>
          </li>
          <li>
            <a href="#">{{locale "footer.item.personal_advice"}}</a>
          </li>
          <li>
            <a href="#">{{locale "footer.item.send_email"}}</a>
          </li>
          <li>
            <a href="#">{{locale "footer.item.chat"}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mb-subfooter container-fluid">
    <span class="mb-footer-copyright-text">
      {{locale "footer.company_name"}}
    </span>
    <a href="#">{{locale "footer.item.cookies"}}</a>
    <a href="#">{{locale "footer.item.data_protection"}}</a>
    <a href="#">{{locale "footer.item.legal_notice"}}</a>
    <a href="#">{{locale "footer.item.conditions_info"}}</a>
    <a href="#">{{locale "footer.item.revocation"}}</a>
    <span class="social-buttons">
      <a href="#" class="social-btn icon-printerast"></a>
      <a href="#" class="social-btn icon-facebook"></a>
      <a href="#" class="social-btn icon-youtube"></a>
      <a href="#" class="social-btn icon-twitter"></a>
    </span>
    <a href="#" class="js-scroll-top scroll-top">{{locale "footer.scroll_top"}}<i class="icon-angle-up"></i></a>
  </div>
</div>